In [65]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\admin\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (1.25.11)

In [66]:
#Importing Selenuim and webdriver
import selenium
import pandas as pd
from selenium import webdriver

# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill,Designations,Companies” field and enter “Bangalore” 
in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note- All of the above steps have to be done in code. No step is to be done manually.

In [90]:
#Calling Driver
driver=webdriver.Chrome("chromedriver.exe")

In [91]:
#calling Website
url='https://www.naukri.com/'
driver.get(url)

In [69]:
#finding the job element with the help of the id
search_job=driver.find_element_by_id("qsb-keyword-sugg")
search_job

In [70]:
#finding the job with the help send keys option
search_job.send_keys("Data Analyst")

In [72]:
search_location=driver.find_element_by_id("qsb-location-sugg")
search_location.send_keys("Bangalore")

In [73]:
search_btn=driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

In [82]:
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title_tags

[<selenium.webdriver.remote.webelement.WebElement (session="ca6b305b446eef3ddb5f5fb71c718540", element="fae05ad8-92e8-44fb-b7f2-ede8eaffadfe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ca6b305b446eef3ddb5f5fb71c718540", element="9a025794-babf-499d-aa21-36b92daa8090")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ca6b305b446eef3ddb5f5fb71c718540", element="0fdd285d-9022-43cd-9953-541860933fd4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ca6b305b446eef3ddb5f5fb71c718540", element="b7a279c7-93e1-4d79-93de-fd85e6728112")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ca6b305b446eef3ddb5f5fb71c718540", element="e65b26cb-756b-48ab-83d6-19f7160ba263")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ca6b305b446eef3ddb5f5fb71c718540", element="242b6d26-7c5d-43e9-9163-acabd7b23a7e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ca6b305b446eef3ddb5f5fb71c718540", element="39e6b320-06ba-44ac-81e5-1fd1fb2b9339")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ca6b305b446eef3ddb5f5fb71c718540", element="29f279ef-f7f5-4c30-a447-b03f4829ee5f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ca6b305b446eef3ddb5f5fb71c718540", element="004694aa-99d1-458d-8ded-c8960ce1ee3f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ca6b305b446eef3ddb5f5fb71c718540", element="31831f2e-902f-4a39-b2ef-c16cbf580d0d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ca6b305b446eef3ddb5f5fb71c718540", element="102a2b60-0b43-4a56-9734-dfc5a99fec71")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ca6b305b446eef3ddb5f5fb71c718540", element="8aba78ea-f0a0-446b-9fb3-d151ca2e31e8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ca6b305b446eef3ddb5f5fb71c718540", element="62bece74-4c95-466d-8af5-ad6284edec0a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ca6b305b446eef3ddb5f5fb71c718540", element="afcdc8a9-8acb-4b45-9cc0-ab8e8e5a620b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ca6b305b446eef3ddb5f5fb71c718540", element="f5d1c69e-ff22-4101-87ea-1a795ce01e4c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ca6b305b446eef3ddb5f5fb71c718540", element="79a1e5d6-f7bd-4792-b4ab-ce748670ba74")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ca6b305b446eef3ddb5f5fb71c718540", element="1b2725d3-f58f-4f13-bc4a-2da18e18a03b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ca6b305b446eef3ddb5f5fb71c718540", element="6035da4f-a7d4-4bca-8114-7faa49d4ff47")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ca6b305b446eef3ddb5f5fb71c718540", element="646657c5-3471-49e9-bcd3-576e710e5c47")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ca6b305b446eef3ddb5f5fb71c718540", element="7d068e35-a07b-41d4-8ea8-4870595f34b0")>]

In [84]:
#Job Titles
job_titles=[]
for i in title_tags:
    job_titles.append(i.text)
job_titles

['Business Data Analyst',
 'Business Data Analyst',
 'Senior Data Analyst IDAM Services',
 'Data Analyst/Sr.Data Engineer',
 'Business Data Analyst - Google Data Studio & SQL',
 'Data Analyst - Python/SQL',
 'Executive Data Analyst',
 'Senior Data Analyst',
 'Systems and Data Analyst, Safety and Provisioning',
 'Data Analyst with SQL',
 'Data Analyst',
 'Business Data Analyst - MIS & Reporting',
 'Data Analyst',
 'Data Analyst - EdTech',
 'Lead , Data Analyst',
 'Associate System and Data Analyst',
 'Data Analyst with SAS & Python',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst']

In [85]:
#Company Names
company_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_tags
company_titles=[]
for i in company_tags:
    company_titles.append(i.text)
company_titles

['Trigent Software',
 'Trigent Software',
 'GlaxoSmithKline Pharmaceuticals Limited',
 'SYREN TECHNOLOGIES PRIVATE LIMITED',
 'AVE-Promagne',
 'Affine',
 'Gokaldas Exports Ltd',
 'Virtusa Consulting Services Pvt Ltd',
 'AECOM India Private Limited',
 'Wipro Limited',
 'IBM India Pvt. Limited',
 'INTERTRUST GROUP',
 'Edge Executive Search Pvt. Ltd.',
 'TalentStack',
 'Near Pte. Ltd.',
 'Boeing',
 'Podium Systems',
 'Coda Payments',
 'FedEx Express',
 'Supertails']

In [86]:
#Experience
Experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
Experience_tags
Experience_titles=[]
for i in Experience_tags:
    Experience_titles.append(i.text)
Experience_titles

['5-10 Yrs',
 '5-10 Yrs',
 '4-8 Yrs',
 '4-9 Yrs',
 '3-8 Yrs',
 '3-5 Yrs',
 '0-3 Yrs',
 '8-12 Yrs',
 '2-7 Yrs',
 '3-5 Yrs',
 '1-4 Yrs',
 '3-8 Yrs',
 '0-2 Yrs',
 '2-6 Yrs',
 '6-11 Yrs',
 '4-8 Yrs',
 '4-7 Yrs',
 '3-4 Yrs',
 '2-6 Yrs',
 '1-3 Yrs']

In [87]:
#Salary
Salary_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi salary']")
Salary_tags
Salary_titles=[]
for i in Salary_tags:
    Salary_titles.append(i.text)
Salary_titles

['Not disclosed',
 'Not disclosed',
 'Not disclosed',
 '10,00,000 - 20,00,000 PA.',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 '1,00,000 - 4,50,000 PA.',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 '8,00,000 - 14,00,000 PA.',
 '2,50,000 - 4,00,000 PA.']

In [88]:
#Location
Location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span[1]")
Location_tags
Location_titles=[]
for i in Location_tags:
    Location_titles.append(i.text)
Location_titles

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Noida, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Bengaluru/Bangalore',
 'Mumbai, Bangalore/Bengaluru',
 'Pune, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Chennai, Bangalore',
 'Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru(Indira Nagar)']

In [89]:
#Creating Datafrme
jobs=pd.DataFrame({})
jobs["Job_Title"]=job_titles[0:10]
jobs["Company"]=company_titles[0:10]
jobs["Experience"]=Experience_titles[0:10]
jobs["Salary"]=Salary_titles[0:10]
jobs["Location"]=Location_titles[0:10]
jobs

,Job_Title,Company,Experience,Salary,Location
0,Business Data Analyst,Trigent Software,5-10 Yrs,Not disclosed,Bangalore/Bengaluru
1,Business Data Analyst,Trigent Software,5-10 Yrs,Not disclosed,Bangalore/Bengaluru
2,Senior Data Analyst IDAM Services,GlaxoSmithKline Pharmaceuticals Limited,4-8 Yrs,Not disclosed,Bangalore/Bengaluru
3,Data Analyst/Sr.Data Engineer,SYREN TECHNOLOGIES PRIVATE LIMITED,4-9 Yrs,"10,00,000 - 20,00,000 PA.","Hyderabad/Secunderabad, Chennai, Bangalore/Ben..."
4,Business Data Analyst - Google Data Studio & SQL,AVE-Promagne,3-8 Yrs,Not disclosed,Bangalore/Bengaluru
5,Data Analyst - Python/SQL,Affine,3-5 Yrs,Not disclosed,Bangalore/Bengaluru
6,Executive Data Analyst,Gokaldas Exports Ltd,0-3 Yrs,Not disclosed,Bangalore/Bengaluru
7,Senior Data Analyst,Virtusa Consulting Services Pvt Ltd,8-12 Yrs,Not disclosed,"Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram..."
8,"Systems and Data Analyst, Safety and Provisioning",AECOM India Private Limited,2-7 Yrs,Not disclosed,Bangalore/Bengaluru
9,Data Analyst with SQL,Wipro Limited,3-5 Yrs,Not disclosed,"Noida, Gurgaon/Gurugram, Bangalore/Bengaluru"