# Q5: Write a python program to scrape the salary data for Data Scientist designation in Noida location.You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.
The above task will be, done as shown in the below steps:
1. first get the webpage https://www.glassdoor.co.in/Salaries/index.htm
2. Enter “Data Scientist” in Job title field and “Noida” in location field.
3. Click the search button.
4. After that you will land on the below page
You have to scrape whole data from this webpage
5. Scrape data for first 10 companies. Scrape the min salary, max salary, company 
name, Average salary and rating of the company.
6.Store the data in a dataframe.
Note that all of the above steps have to be done by coding only and not manually

In [10]:
import selenium
import pandas as pd
from selenium import webdriver
driver=webdriver.Chrome("chromedriver1.exe")

In [11]:
url="https://www.glassdoor.co.in/Salaries/index.htm"
driver.get(url)

In [12]:
search_job=driver.find_element_by_xpath("//input[@id='KeywordSearch']")
search_job

In [13]:
search_job.send_keys("Data Scientist")

In [14]:
search_Loc=driver.find_element_by_xpath("//input[@id='LocationSearch']")
search_Loc
search_Loc.send_keys("Noida")

In [15]:
search_btn=driver.find_element_by_xpath("//button[@class='gd-btn-mkt']")
search_btn.click()

In [20]:
company_name1=driver.find_elements_by_xpath("//a[@class='css-f3vw95 e1aj7ssy3']")
company_name1

company_name2=[]

for i in company_name1:
    company_name2.append(i.text)
company_name2

['Tata Consultancy Services',
 'IBM',
 'Accenture',
 'Delhivery',
 'Ericsson-Worldwide',
 'UnitedHealth Group',
 'Optum',
 'Optum Global Solutions',
 'Valiance Solutions',
 'EXL Service',
 'Cognizant Technology Solutions',
 'ZS Associates',
 'Nagarro',
 'Innovaccer',
 'OYO',
 'dunnhumby',
 'Amazon',
 'Fresher',
 'CARS24.com',
 'Vidooly Media Tech']

In [79]:
Nos=driver.find_elements_by_xpath("//div[@class='col-12 col-lg-auto']")
Nos

Nos2=[]

for i in Nos:
    Nos2.append(i.text)
Nos2

['22 salaries',
 '20 salaries',
 '15 salaries',
 '15 salaries',
 '14 salaries',
 '14 salaries',
 '11 salaries',
 '10 salaries',
 '10 salaries',
 '9 salaries',
 '8 salaries',
 '8 salaries',
 '8 salaries',
 '8 salaries',
 '7 salaries',
 '7 salaries',
 '6 salaries',
 '6 salaries',
 '6 salaries',
 '6 salaries']

In [24]:
Average=driver.find_elements_by_xpath("//div[@class='col-12 col-lg-4 px-lg-0 d-flex align-items-baseline']")

Average_Salary=[]

for i in Average:
    Average_Salary.append(i.text.replace("\n"," "))
Average_Salary

['₹6,28,021  /yr',
 '₹9,08,246  /yr',
 '₹11,93,390  /yr',
 '₹12,49,716  /yr',
 '₹7,58,335  /yr',
 '₹12,80,000  /yr',
 '₹12,70,000  /yr',
 '₹14,55,430  /yr',
 '₹8,86,064  /yr',
 '₹11,10,000  /yr',
 '₹9,62,227  /yr',
 '₹11,71,868  /yr',
 '₹11,01,815  /yr',
 '₹12,40,275  /yr',
 '₹14,51,902  /yr',
 '₹11,30,374  /yr',
 '₹20,63,782  /yr',
 '₹61,566  /mo',
 '₹10,80,727  /yr',
 '₹35,040  /mo']

In [72]:
minimum=driver.find_elements_by_xpath("//p[@class='m-0 css-1vkj9it'][1]")
minimum
minimum_Salary=[]

for i in minimum:
    minimum_Salary.append(i.text.replace("\n"," ").strip())
minimum_Salary
minimum_Salary1=minimum_Salary[16:]
minimum_Salary1

minimum_Salary2=[]
for j in range(0,len(minimum_Salary1),2):
    minimum_Salary2.append(minimum_Salary1[j])
minimum_Salary2[0:10]

['₹4L', '₹1L', '₹6L', '₹5L', '₹4L', '₹8L', '₹8L', '₹10L', '₹5L', '₹6L']

In [80]:
Maximum=driver.find_elements_by_xpath("//p[@class='m-0 css-1vkj9it'][2]")
Maximum
Maximum_Salary=[]

for i in Maximum:
    Maximum_Salary.append(i.text.replace("\n"," ").strip())
Maximum_Salary
Maximum_Salary1=Maximum_Salary[4:14]
Maximum_Salary1

['₹28L',
 '₹23L',
 '₹1Cr',
 '₹17L',
 '₹16L',
 '₹20L',
 '₹18L',
 '₹15L',
 '₹16L',
 '₹13L']

In [83]:
Glass=pd.DataFrame({})
Glass["Company name"]=company_name2[0:10]
Glass["Number of salaries"]=Nos2[0:10]
Glass["Average salary"]=Average_Salary[0:10]
Glass["Min-salary"]=minimum_Salary2[0:10]
Glass["Max-Salary"]=Maximum_Salary1
Glass

,Company name,Number of salaries,Average salary,Min-salary,Max-Salary
0,Tata Consultancy Services,22 salaries,"₹6,28,021 /yr",₹4L,₹28L
1,IBM,20 salaries,"₹9,08,246 /yr",₹1L,₹23L
2,Accenture,15 salaries,"₹11,93,390 /yr",₹6L,₹1Cr
3,Delhivery,15 salaries,"₹12,49,716 /yr",₹5L,₹17L
4,Ericsson-Worldwide,14 salaries,"₹7,58,335 /yr",₹4L,₹16L
5,UnitedHealth Group,14 salaries,"₹12,80,000 /yr",₹8L,₹20L
6,Optum,11 salaries,"₹12,70,000 /yr",₹8L,₹18L
7,Optum Global Solutions,10 salaries,"₹14,55,430 /yr",₹10L,₹15L
8,Valiance Solutions,10 salaries,"₹8,86,064 /yr",₹5L,₹16L
9,EXL Service,9 salaries,"₹11,10,000 /yr",₹6L,₹13L