# DELHI-MUMBAI -01-02-2022

In [1]:
!pip install selenium
!pip install undetected-chromedriver
     

import time
import warnings
warnings.filterwarnings('ignore')

Requirement already satisfied: selenium in c:\users\admin\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (1.25.11)
Requirement already satisfied: undetected-chromedriver in c:\users\admin\anaconda3\lib\site-packages (3.0.6)
Requirement already satisfied: selenium in c:\users\admin\anaconda3\lib\site-packages (from undetected-chromedriver) (3.141.0)
Requirement already satisfied: websockets in c:\users\admin\anaconda3\lib\site-packages (from undetected-chromedriver) (10.1)
Requirement already satisfied: requests in c:\users\admin\anaconda3\lib\site-packages (from undetected-chromedriver) (2.24.0)
Requirement already satisfied: urllib3 in c:\users\admin\anaconda3\lib\site-packages (from selenium->undetected-chromedriver) (1.25.11)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\admin\anaconda3\lib\site-packages (from requests->undetected-chromedriver) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in c:\users\admin\anaconda3\lib\site-packages (from requests->undetected-chromedriver) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\admin\anaconda3\lib\site-packages (from requests->undetected-chromedriver) (2020.6.20)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver 
from selenium.common.exceptions import  StaleElementReferenceException,ElementClickInterceptedException
from selenium.common.exceptions import  NoSuchElementException,NoSuchWindowException

from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By

In [3]:
driver=webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver_win32 (2)\chromedriver.exe")

In [4]:
url="https://www.makemytrip.com/flight/search?itinerary=DEL-BOM-01/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng"
driver.get(url)

In [5]:
for i in url:
    SCROLL_PAUSE_TIME = 1

    # Get scroll height
    """last_height = driver.execute_script("return document.body.scrollHeight")

    this dowsnt work due to floating web elements on youtube
    """

    last_height = driver.execute_script("return document.documentElement.scrollHeight")
    while True:
        # Scroll down to bottom
        driver.execute_script("window.scrollTo(0,document.documentElement.scrollHeight);")

        # Wait to load page
        time.sleep(SCROLL_PAUSE_TIME)

        # Calculate new scroll height and compare with last scroll height
        new_height = driver.execute_script("return document.documentElement.scrollHeight")
        if new_height == last_height:
                 break
        last_height = new_height

In [6]:
Company_name1=driver.find_elements_by_xpath('//span[@class="boldFont blackText airlineName"]')
Company_name1
Company_name2=[]

for i in Company_name1:
    Company_name2.append(i.text)
Company_name2

['Go First',
 'Go First',
 'Go First',
 'Go First',
 'Go First',
 'Go First',
 'Go First',
 'Go First',
 'Go First',
 'Go First',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'Spicejet',
 'Air India',
 'IndiGo',
 'Air India',
 'IndiGo',
 'Air India',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'Air India',
 'IndiGo',
 'Air India',
 'Air India',
 'IndiGo',
 'IndiGo',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Spicejet',
 '',
 '',
 '']

In [7]:
time1=driver.find_elements_by_xpath('//p[@class="blackText fontSize18 blackFont appendBottom2 makeFlex hrtlCenter"]')
time1
time2=[]

for i in time1:
    time2.append(i.text)
time2

['07:00',
 '09:10',
 '08:00',
 '10:10',
 '10:30',
 '12:50',
 '14:20',
 '16:35',
 '15:00',
 '17:15',
 '18:05',
 '20:25',
 '19:40',
 '21:55',
 '21:00',
 '23:15',
 '22:30',
 '00:40',
 '11:30',
 '17:00',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '06:20',
 '08:40',
 '07:00',
 '09:05',
 '07:15',
 '09:25',
 '08:00',
 '10:10',
 '08:45',
 '11:05',
 '09:00',
 '11:15',
 '09:30',
 '12:00',
 '12:00',
 '14:10',
 '17:15',
 '19:25',
 '18:00',
 '20:00',
 '18:40',
 '20:50',
 '19:00',
 '21:15',
 '20:00',
 '22:10',
 '21:15',
 '23:30',
 '10:30',
 '14:35',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '08:50',
 '11:10',
 '09:30',
 '11:35',
 '10:20',
 '12:35',
 '11:40',
 '14:00',
 '14:20',
 '16:30',
 '15:30',
 '17:40',
 '17:45',
 '20:05',
 '19:00',
 '21:15',
 '19:50',
 '22:00',
 '20:40',
 '22:50',
 '07:45',
 '12:00',
 '',
 '',
 '',
 '',
 '',
 '']

In [8]:
departure_time=[]
for i in range(0,len(time2),2):
    departure_time.append(time2[i])
departure_time

['07:00',
 '08:00',
 '10:30',
 '14:20',
 '15:00',
 '18:05',
 '19:40',
 '21:00',
 '22:30',
 '11:30',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '06:20',
 '07:00',
 '07:15',
 '08:00',
 '08:45',
 '09:00',
 '09:30',
 '12:00',
 '17:15',
 '18:00',
 '18:40',
 '19:00',
 '20:00',
 '21:15',
 '10:30',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '08:50',
 '09:30',
 '10:20',
 '11:40',
 '14:20',
 '15:30',
 '17:45',
 '19:00',
 '19:50',
 '20:40',
 '07:45',
 '',
 '',
 '']

In [9]:
arrivaltime=[]
for i in range(1,len(time2),2):
    arrivaltime.append(time2[i])
arrivaltime

['09:10',
 '10:10',
 '12:50',
 '16:35',
 '17:15',
 '20:25',
 '21:55',
 '23:15',
 '00:40',
 '17:00',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '08:40',
 '09:05',
 '09:25',
 '10:10',
 '11:05',
 '11:15',
 '12:00',
 '14:10',
 '19:25',
 '20:00',
 '20:50',
 '21:15',
 '22:10',
 '23:30',
 '14:35',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '11:10',
 '11:35',
 '12:35',
 '14:00',
 '16:30',
 '17:40',
 '20:05',
 '21:15',
 '22:00',
 '22:50',
 '12:00',
 '',
 '',
 '']

In [10]:
place=driver.find_elements_by_xpath('//p[@class="darkText"]')
place1=[]

for i in place:
    place1.append(i.text)
place1

['New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 '',
 '',
 '',
 '',
 '',
 '']

In [11]:
departureplace=[]
for i in range(0,len(place1),2):
    departureplace.append(place1[i])
departureplace

['New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 '',
 '',
 '']

In [12]:
Arrivalplace=[]
for i in range(1,len(place1),2):
    Arrivalplace.append(place1[i])
Arrivalplace

['Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 '',
 '',
 '']

In [13]:
timmings=driver.find_elements_by_xpath('//div[@class="stop-info flexOne"]')
timmings
timmings1=[]

for i in timmings:
    timmings1.append(i.text.replace("\n",","))
timmings1

['02 h 10 m,Non stop',
 '02 h 10 m,Non stop',
 '02 h 20 m,Non stop',
 '02 h 15 m,Non stop',
 '02 h 15 m,Non stop',
 '02 h 20 m,Non stop',
 '02 h 15 m,Non stop',
 '02 h 15 m,Non stop',
 '02 h 10 m,Non stop',
 '05 h 30 m,1 stop via Patna',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '02 h 20 m,Non stop',
 '02 h 05 m,Non stop',
 '02 h 10 m,Non stop',
 '02 h 10 m,Non stop',
 '02 h 20 m,Non stop',
 '02 h 15 m,Non stop',
 '02 h 30 m,Non stop',
 '02 h 10 m,Non stop',
 '02 h 10 m,Non stop',
 '02 h,Non stop',
 '02 h 10 m,Non stop',
 '02 h 15 m,Non stop',
 '02 h 10 m,Non stop',
 '02 h 15 m,Non stop',
 '04 h 05 m,1 stop via Jodhpur',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '02 h 20 m,Non stop',
 '02 h 05 m,Non stop',
 '02 h 15 m,Non stop',
 '02 h 20 m,Non stop',
 '02 h 10 m,Non stop',
 '02 h 10 m,Non stop',
 '02 h 20 m,Non stop',
 '02 h 15 m,Non stop',
 '02 h 10 m,Non stop',
 '02 h 10 m,Non stop',
 '04 h 15 m,1 stop via Jabalpur',
 '',
 '',
 '']

In [14]:
price=driver.find_elements_by_xpath('//div[@class="textRight flexOne"]')
price
price1=[]

for i in price:
    price1.append(i.text)
price1

['₹ 5,954',
 '₹ 5,954',
 '₹ 5,954',
 '₹ 5,954',
 '₹ 5,954',
 '₹ 5,954',
 '₹ 5,954',
 '₹ 5,954',
 '₹ 5,954',
 '₹ 5,954',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '₹ 5,955',
 '₹ 5,955',
 '₹ 5,955',
 '₹ 5,955',
 '₹ 5,955',
 '₹ 5,955',
 '₹ 5,955',
 '₹ 5,955',
 '₹ 5,955',
 '₹ 5,955',
 '₹ 5,955',
 '₹ 5,955',
 '₹ 5,955',
 '₹ 5,955',
 '₹ 5,955',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '₹ 5,956',
 '₹ 5,956',
 '₹ 5,956',
 '₹ 5,956',
 '₹ 5,956',
 '₹ 5,956',
 '₹ 5,956',
 '₹ 5,956',
 '₹ 5,956',
 '₹ 5,956',
 '₹ 7,110',
 '',
 '',
 '']

In [15]:
df=pd.DataFrame({})
df["Airline_Name"]=Company_name2
df["Departure Time"]=departure_time
df["Arrival time"]=arrivaltime
df["Departure Place"]=departureplace
df["Arrival place"]=Arrivalplace
df["Timmings"]=timmings1
df["Price"]=price1

In [16]:
df

,Airline_Name,Departure Time,Arrival time,Departure Place,Arrival place,Timmings,Price
0,Go First,07:00,09:10,New Delhi,Mumbai,"02 h 10 m,Non stop","₹ 5,954"
1,Go First,08:00,10:10,New Delhi,Mumbai,"02 h 10 m,Non stop","₹ 5,954"
2,Go First,10:30,12:50,New Delhi,Mumbai,"02 h 20 m,Non stop","₹ 5,954"
3,Go First,14:20,16:35,New Delhi,Mumbai,"02 h 15 m,Non stop","₹ 5,954"
4,Go First,15:00,17:15,New Delhi,Mumbai,"02 h 15 m,Non stop","₹ 5,954"
...,...,...,...,...,...,...,...
56,Vistara,20:40,22:50,New Delhi,Mumbai,"02 h 10 m,Non stop","₹ 5,956"
57,Spicejet,07:45,12:00,New Delhi,Mumbai,"04 h 15 m,1 stop via Jabalpur","₹ 7,110"
58,,,,,,,
59,,,,,,,
60,,,,,,,

In [17]:
dateSelect = "'2022-02-01'"

In [18]:
df['Date_of_Journey'] = dateSelect

In [19]:
df

,Airline_Name,Departure Time,Arrival time,Departure Place,Arrival place,Timmings,Price,Date_of_Journey
0,Go First,07:00,09:10,New Delhi,Mumbai,"02 h 10 m,Non stop","₹ 5,954",'2022-02-01'
1,Go First,08:00,10:10,New Delhi,Mumbai,"02 h 10 m,Non stop","₹ 5,954",'2022-02-01'
2,Go First,10:30,12:50,New Delhi,Mumbai,"02 h 20 m,Non stop","₹ 5,954",'2022-02-01'
3,Go First,14:20,16:35,New Delhi,Mumbai,"02 h 15 m,Non stop","₹ 5,954",'2022-02-01'
4,Go First,15:00,17:15,New Delhi,Mumbai,"02 h 15 m,Non stop","₹ 5,954",'2022-02-01'
...,...,...,...,...,...,...,...,...
56,Vistara,20:40,22:50,New Delhi,Mumbai,"02 h 10 m,Non stop","₹ 5,956",'2022-02-01'
57,Spicejet,07:45,12:00,New Delhi,Mumbai,"04 h 15 m,1 stop via Jabalpur","₹ 7,110",'2022-02-01'
58,,,,,,,,'2022-02-01'
59,,,,,,,,'2022-02-01'
60,,,,,,,,'2022-02-01'

# DELHI-MUMBAI 30-01-2022

In [20]:
url="https://www.makemytrip.com/flight/search?tripType=O&itinerary=DEL-BOM-30/01/2022&paxType=A-1_C-0_I-0&cabinClass=E&sTime=1643459841693&forwardFlowRequired=true&mpo="
driver.get(url)

In [21]:
for i in url:
    SCROLL_PAUSE_TIME = 1

    # Get scroll height
    """last_height = driver.execute_script("return document.body.scrollHeight")

    this dowsnt work due to floating web elements on youtube
    """

    last_height = driver.execute_script("return document.documentElement.scrollHeight")
    while True:
        # Scroll down to bottom
        driver.execute_script("window.scrollTo(0,document.documentElement.scrollHeight);")

        # Wait to load page
        time.sleep(SCROLL_PAUSE_TIME)

        # Calculate new scroll height and compare with last scroll height
        new_height = driver.execute_script("return document.documentElement.scrollHeight")
        if new_height == last_height:
                 break
        last_height = new_height
        
Company_name1=driver.find_elements_by_xpath('//span[@class="boldFont blackText airlineName"]')
Company_name1
Company_name2=[]

for i in Company_name1:
    Company_name2.append(i.text)
Company_name2

time1=driver.find_elements_by_xpath('//p[@class="blackText fontSize18 blackFont appendBottom2 makeFlex hrtlCenter"]')
time1
time2=[]

for i in time1:
    time2.append(i.text)
time2

departure_time=[]
for i in range(0,len(time2),2):
    departure_time.append(time2[i])
departure_time

arrivaltime=[]
for i in range(1,len(time2),2):
    arrivaltime.append(time2[i])
arrivaltime

place=driver.find_elements_by_xpath('//p[@class="darkText"]')
place1=[]

for i in place:
    place1.append(i.text)
place1

departureplace=[]
for i in range(0,len(place1),2):
    departureplace.append(place1[i])
departureplace

Arrivalplace=[]
for i in range(1,len(place1),2):
    Arrivalplace.append(place1[i])
Arrivalplace

timmings=driver.find_elements_by_xpath('//div[@class="stop-info flexOne"]')
timmings
timmings1=[]

for i in timmings:
    timmings1.append(i.text.replace("\n",","))
timmings1

price=driver.find_elements_by_xpath('//div[@class="textRight flexOne"]')
price
price1=[]

for i in price:
    price1.append(i.text)
price1 


df1=pd.DataFrame({})
df1["Airline_Name"]=Company_name2
df1["Departure Time"]=departure_time
df1["Arrival time"]=arrivaltime
df1["Departure Place"]=departureplace
df1["Arrival place"]=Arrivalplace
df1["Timmings"]=timmings1
df1["Price"]=price1


dateSelect = "'2022-01-30'"

df1['Date_of_Journey'] = dateSelect

df1

,Airline_Name,Departure Time,Arrival time,Departure Place,Arrival place,Timmings,Price,Date_of_Journey
0,Go First,12:45,15:00,New Delhi,Mumbai,"02 h 15 m,Non stop","₹ 5,954",'2022-01-30'
1,Go First,14:20,16:35,New Delhi,Mumbai,"02 h 15 m,Non stop","₹ 5,954",'2022-01-30'
2,Go First,18:05,20:25,New Delhi,Mumbai,"02 h 20 m,Non stop","₹ 5,954",'2022-01-30'
3,Go First,22:30,00:40,New Delhi,Mumbai,"02 h 10 m,Non stop","₹ 5,954",'2022-01-30'
4,Go First,10:45,17:00,New Delhi,Mumbai,"06 h 15 m,1 stop via Patna","₹ 5,954",'2022-01-30'
5,,,,,,,,'2022-01-30'
6,,,,,,,,'2022-01-30'
7,,,,,,,,'2022-01-30'
8,Air India,07:00,09:05,New Delhi,Mumbai,"02 h 05 m,Non stop","₹ 5,955",'2022-01-30'
9,Spicejet,07:00,09:15,New Delhi,Mumbai,"02 h 15 m,Non stop","₹ 5,955",'2022-01-30'
10,IndiGo,07:15,09:25,New Delhi,Mumbai,"02 h 10 m,Non stop","₹ 5,955",'2022-01-30'
11,Air India,08:00,10:10,New Delhi,Mumbai,"02 h 10 m,Non stop","₹ 5,955",'2022-01-30'
12,IndiGo,09:30,12:00,New Delhi,Mumbai,"02 h 30 m,Non stop","₹ 5,955",'2022-01-30'
13,IndiGo,12:00,14:10,New Delhi,Mumbai,"02 h 10 m,Non stop","₹ 5,955",'2022-01-30'
14,Air India,18:00,20:00,New Delhi,Mumbai,"02 h,Non stop","₹ 5,955",'2022-01-30'
15,IndiGo,18:40,20:50,New Delhi,Mumbai,"02 h 10 m,Non stop","₹ 5,955",'2022-01-30'
16,Air India,19:00,21:15,New Delhi,Mumbai,"02 h 15 m,Non stop","₹ 5,955",'2022-01-30'
17,Air India,20:00,22:10,New Delhi,Mumbai,"02 h 10 m,Non stop","₹ 5,955",'2022-01-30'
18,Spicejet,20:30,22:50,New Delhi,Mumbai,"02 h 20 m,Non stop","₹ 5,955",'2022-01-30'
19,IndiGo,05:15,10:05,New Delhi,Mumbai,"04 h 50 m,1 stop via Ahmedabad","₹ 5,955",'2022-01-30'
20,,,,,,,,'2022-01-30'
21,,,,,,,,'2022-01-30'
22,,,,,,,,'2022-01-30'
23,,,,,,,,'2022-01-30'
24,,,,,,,,'2022-01-30'
25,,,,,,,,'2022-01-30'
26,,,,,,,,'2022-01-30'
27,Vistara,14:20,16:30,New Delhi,Mumbai,"02 h 10 m,Non stop","₹ 5,956",'2022-01-30'
28,Vistara,21:40,23:50,New Delhi,Mumbai,"02 h 10 m,Non stop","₹ 5,956",'2022-01-30'
29,Spicejet,19:30,21:40,New Delhi,Mumbai,"02 h 10 m,Non stop","₹ 6,060",'2022-01-30'
30,Vistara,12:50,15:00,New Delhi,Mumbai,"02 h 10 m,Non stop","₹ 6,061",'2022-01-30'
31,Vistara,19:50,22:00,New Delhi,Mumbai,"02 h 10 m,Non stop","₹ 6,061",'2022-01-30'
32,Vistara,09:30,11:35,New Delhi,Mumbai,"02 h 05 m,Non stop","₹ 6,376",'2022-01-30'
33,Vistara,17:45,20:05,New Delhi,Mumbai,"02 h 20 m,Non stop","₹ 6,376",'2022-01-30'
34,IndiGo,22:15,08:25,New Delhi,Mumbai,"10 h 10 m,1 stop via Ahmedabad","₹ 6,443",'2022-01-30'
35,IndiGo,09:35,14:35,New Delhi,Mumbai,"05 h,1 stop via Jodhpur","₹ 6,848",'2022-01-30'
36,IndiGo,21:15,23:30,New Delhi,Mumbai,"02 h 15 m,Non stop","₹ 7,320",'2022-01-30'
37,IndiGo,17:15,19:25,New Delhi,Mumbai,"02 h 10 m,Non stop","₹ 8,055",'2022-01-30'
38,Spicejet,07:45,12:00,New Delhi,Mumbai,"04 h 15 m,1 stop via Jabalpur","₹ 8,264",'2022-01-30'
39,,,,,,,,'2022-01-30'
40,,,,,,,,'2022-01-30'
41,,,,,,,,'2022-01-30'
42,,,,,,,,'2022-01-30'
43,,,,,,,,'2022-01-30'
44,,,,,,,,'2022-01-30'
45,IndiGo,14:20,16:35,New Delhi,Mumbai,"02 h 15 m,Non stop","₹ 10,470",'2022-01-30'
46,Vistara,13:20,18:20,New Delhi,Mumbai,"05 h,1 stop via Varanasi","₹ 10,785",'2022-01-30'
47,Vistara,17:10,21:35,New Delhi,Mumbai,"04 h 25 m,1 stop via Chandigarh","₹ 12,570",'2022-01-30'
48,Vistara,15:30,17:40,New Delhi,Mumbai,"02 h 10 m,Non stop","₹ 15,721",'2022-01-30'

# DELHI-MUMBAI 31-01-2022

In [25]:
driver=webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver_win32 (2)\chromedriver.exe")
url1="https://www.makemytrip.com/flight/search?itinerary=DEL-BOM-31/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng"
driver.get(url1)

In [26]:
for i in url:
    SCROLL_PAUSE_TIME = 1

    # Get scroll height
    """last_height = driver.execute_script("return document.body.scrollHeight")

    this dowsnt work due to floating web elements on youtube
    """

    last_height = driver.execute_script("return document.documentElement.scrollHeight")
    while True:
        # Scroll down to bottom
        driver.execute_script("window.scrollTo(0,document.documentElement.scrollHeight);")

        # Wait to load page
        time.sleep(SCROLL_PAUSE_TIME)

        # Calculate new scroll height and compare with last scroll height
        new_height = driver.execute_script("return document.documentElement.scrollHeight")
        if new_height == last_height:
                 break
        last_height = new_height
        
Company_name1=driver.find_elements_by_xpath('//span[@class="boldFont blackText airlineName"]')
Company_name1
Company_name2=[]

for i in Company_name1:
    Company_name2.append(i.text)
Company_name2

time1=driver.find_elements_by_xpath('//p[@class="blackText fontSize18 blackFont appendBottom2 makeFlex hrtlCenter"]')
time1
time2=[]

for i in time1:
    time2.append(i.text)
time2

departure_time=[]
for i in range(0,len(time2),2):
    departure_time.append(time2[i])
departure_time

arrivaltime=[]
for i in range(1,len(time2),2):
    arrivaltime.append(time2[i])
arrivaltime

place=driver.find_elements_by_xpath('//p[@class="darkText"]')
place1=[]

for i in place:
    place1.append(i.text)
place1

departureplace=[]
for i in range(0,len(place1),2):
    departureplace.append(place1[i])
departureplace

Arrivalplace=[]
for i in range(1,len(place1),2):
    Arrivalplace.append(place1[i])
Arrivalplace

timmings=driver.find_elements_by_xpath('//div[@class="stop-info flexOne"]')
timmings
timmings1=[]

for i in timmings:
    timmings1.append(i.text.replace("\n",","))
timmings1

price=driver.find_elements_by_xpath('//div[@class="textRight flexOne"]')
price
price1=[]

for i in price:
    price1.append(i.text)
price1 


df2=pd.DataFrame({})
df2["Airline_Name"]=Company_name2
df2["Departure Time"]=departure_time
df2["Arrival time"]=arrivaltime
df2["Departure Place"]=departureplace
df2["Arrival place"]=Arrivalplace
df2["Timmings"]=timmings1
df2["Price"]=price1


dateSelect = "'2022-01-31'"

df2['Date_of_Journey'] = dateSelect

df2

,Airline_Name,Departure Time,Arrival time,Departure Place,Arrival place,Timmings,Price,Date_of_Journey
0,Go First,07:20,09:30,New Delhi,Mumbai,"02 h 10 m,Non stop","₹ 5,954",'2022-01-31'
1,Go First,14:20,16:35,New Delhi,Mumbai,"02 h 15 m,Non stop","₹ 5,954",'2022-01-31'
2,Go First,18:05,20:25,New Delhi,Mumbai,"02 h 20 m,Non stop","₹ 5,954",'2022-01-31'
3,Go First,22:30,00:40,New Delhi,Mumbai,"02 h 10 m,Non stop","₹ 5,954",'2022-01-31'
4,Go First,10:45,17:00,New Delhi,Mumbai,"06 h 15 m,1 stop via Patna","₹ 5,954",'2022-01-31'
5,,,,,,,,'2022-01-31'
6,,,,,,,,'2022-01-31'
7,,,,,,,,'2022-01-31'
8,,,,,,,,'2022-01-31'
9,,,,,,,,'2022-01-31'
10,,,,,,,,'2022-01-31'
11,IndiGo,07:15,09:25,New Delhi,Mumbai,"02 h 10 m,Non stop","₹ 5,955",'2022-01-31'
12,Spicejet,07:20,09:35,New Delhi,Mumbai,"02 h 15 m,Non stop","₹ 5,955",'2022-01-31'
13,IndiGo,09:30,12:00,New Delhi,Mumbai,"02 h 30 m,Non stop","₹ 5,955",'2022-01-31'
14,IndiGo,14:20,16:35,New Delhi,Mumbai,"02 h 15 m,Non stop","₹ 5,955",'2022-01-31'
15,IndiGo,17:15,19:25,New Delhi,Mumbai,"02 h 10 m,Non stop","₹ 5,955",'2022-01-31'
16,Air India,18:00,20:00,New Delhi,Mumbai,"02 h,Non stop","₹ 5,955",'2022-01-31'
17,Air India,19:00,21:15,New Delhi,Mumbai,"02 h 15 m,Non stop","₹ 5,955",'2022-01-31'
18,Air India,20:00,22:10,New Delhi,Mumbai,"02 h 10 m,Non stop","₹ 5,955",'2022-01-31'
19,IndiGo,06:25,16:40,New Delhi,Mumbai,"10 h 15 m,1 stop via Vadodara","₹ 5,955",'2022-01-31'
20,,,,,,,,'2022-01-31'
21,,,,,,,,'2022-01-31'
22,,,,,,,,'2022-01-31'
23,,,,,,,,'2022-01-31'
24,,,,,,,,'2022-01-31'
25,,,,,,,,'2022-01-31'
26,,,,,,,,'2022-01-31'
27,Vistara,11:40,14:00,New Delhi,Mumbai,"02 h 20 m,Non stop","₹ 5,956",'2022-01-31'
28,Vistara,14:20,16:30,New Delhi,Mumbai,"02 h 10 m,Non stop","₹ 5,956",'2022-01-31'
29,Vistara,15:30,17:40,New Delhi,Mumbai,"02 h 10 m,Non stop","₹ 5,956",'2022-01-31'
30,Vistara,17:45,20:05,New Delhi,Mumbai,"02 h 20 m,Non stop","₹ 5,956",'2022-01-31'
31,IndiGo,21:15,23:30,New Delhi,Mumbai,"02 h 15 m,Non stop","₹ 6,165",'2022-01-31'
32,Vistara,21:40,23:50,New Delhi,Mumbai,"02 h 10 m,Non stop","₹ 6,376",'2022-01-31'
33,IndiGo,22:15,08:25,New Delhi,Mumbai,"10 h 10 m,1 stop via Ahmedabad","₹ 6,932",'2022-01-31'
34,IndiGo,05:15,10:05,New Delhi,Mumbai,"04 h 50 m,1 stop via Ahmedabad","₹ 7,420",'2022-01-31'
35,Vistara,09:30,11:35,New Delhi,Mumbai,"02 h 05 m,Non stop","₹ 7,531",'2022-01-31'
36,IndiGo,07:20,12:25,New Delhi,Mumbai,"05 h 05 m,1 stop via Udaipur","₹ 9,861",'2022-01-31'
37,,,,,,,,'2022-01-31'
38,,,,,,,,'2022-01-31'
39,,,,,,,,'2022-01-31'
40,,,,,,,,'2022-01-31'
41,,,,,,,,'2022-01-31'
42,,,,,,,,'2022-01-31'
43,,,,,,,,'2022-01-31'

# DELHI-MUMBAI 07-02-2022

In [27]:
driver=webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver_win32 (2)\chromedriver.exe")
url1="https://www.makemytrip.com/flight/search?tripType=O&itinerary=DEL-BOM-07/02/2022&paxType=A-1_C-0_I-0&cabinClass=E&sTime=1643462575484&forwardFlowRequired=true&mpo="
driver.get(url1)

In [28]:
for i in url:
    SCROLL_PAUSE_TIME = 1

    # Get scroll height
    """last_height = driver.execute_script("return document.body.scrollHeight")

    this dowsnt work due to floating web elements on youtube
    """

    last_height = driver.execute_script("return document.documentElement.scrollHeight")
    while True:
        # Scroll down to bottom
        driver.execute_script("window.scrollTo(0,document.documentElement.scrollHeight);")

        # Wait to load page
        time.sleep(SCROLL_PAUSE_TIME)

        # Calculate new scroll height and compare with last scroll height
        new_height = driver.execute_script("return document.documentElement.scrollHeight")
        if new_height == last_height:
                 break
        last_height = new_height
        
Company_name1=driver.find_elements_by_xpath('//span[@class="boldFont blackText airlineName"]')
Company_name1
Company_name2=[]

for i in Company_name1:
    Company_name2.append(i.text)
Company_name2

time1=driver.find_elements_by_xpath('//p[@class="blackText fontSize18 blackFont appendBottom2 makeFlex hrtlCenter"]')
time1
time2=[]

for i in time1:
    time2.append(i.text)
time2

departure_time=[]
for i in range(0,len(time2),2):
    departure_time.append(time2[i])
departure_time

arrivaltime=[]
for i in range(1,len(time2),2):
    arrivaltime.append(time2[i])
arrivaltime

place=driver.find_elements_by_xpath('//p[@class="darkText"]')
place1=[]

for i in place:
    place1.append(i.text)
place1

departureplace=[]
for i in range(0,len(place1),2):
    departureplace.append(place1[i])
departureplace

Arrivalplace=[]
for i in range(1,len(place1),2):
    Arrivalplace.append(place1[i])
Arrivalplace

timmings=driver.find_elements_by_xpath('//div[@class="stop-info flexOne"]')
timmings
timmings1=[]

for i in timmings:
    timmings1.append(i.text.replace("\n",","))
timmings1

price=driver.find_elements_by_xpath('//div[@class="textRight flexOne"]')
price
price1=[]

for i in price:
    price1.append(i.text)
price1 


df3=pd.DataFrame({})
df3["Airline_Name"]=Company_name2
df3["Departure Time"]=departure_time
df3["Arrival time"]=arrivaltime
df3["Departure Place"]=departureplace
df3["Arrival place"]=Arrivalplace
df3["Timmings"]=timmings1
df3["Price"]=price1


dateSelect = "'2022-02-07'"

df3['Date_of_Journey'] = dateSelect

df3

,Airline_Name,Departure Time,Arrival time,Departure Place,Arrival place,Timmings,Price,Date_of_Journey
0,Go First,07:00,09:10,New Delhi,Mumbai,"02 h 10 m,Non stop","₹ 5,954",'2022-02-07'
1,Go First,08:00,10:10,New Delhi,Mumbai,"02 h 10 m,Non stop","₹ 5,954",'2022-02-07'
2,Go First,10:30,12:50,New Delhi,Mumbai,"02 h 20 m,Non stop","₹ 5,954",'2022-02-07'
3,Go First,14:20,16:35,New Delhi,Mumbai,"02 h 15 m,Non stop","₹ 5,954",'2022-02-07'
4,Go First,15:00,17:15,New Delhi,Mumbai,"02 h 15 m,Non stop","₹ 5,954",'2022-02-07'
...,...,...,...,...,...,...,...,...
64,,,,,,,,'2022-02-07'
65,,,,,,,,'2022-02-07'
66,,,,,,,,'2022-02-07'
67,,,,,,,,'2022-02-07'
68,,,,,,,,'2022-02-07'

# DELHI-MUMBAI 14-02-2022

In [31]:
driver=webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver_win32 (2)\chromedriver.exe")
url1="https://www.makemytrip.com/flight/search?tripType=O&itinerary=DEL-BOM-14/02/2022&paxType=A-1_C-0_I-0&cabinClass=E&sTime=1643463010016&forwardFlowRequired=true&mpo="
driver.get(url1)

In [33]:
for i in url:
    SCROLL_PAUSE_TIME = 1

    # Get scroll height
    """last_height = driver.execute_script("return document.body.scrollHeight")

    this dowsnt work due to floating web elements on youtube
    """

    last_height = driver.execute_script("return document.documentElement.scrollHeight")
    while True:
        # Scroll down to bottom
        driver.execute_script("window.scrollTo(0,document.documentElement.scrollHeight);")

        # Wait to load page
        time.sleep(SCROLL_PAUSE_TIME)

        # Calculate new scroll height and compare with last scroll height
        new_height = driver.execute_script("return document.documentElement.scrollHeight")
        if new_height == last_height:
                 break
        last_height = new_height
        
Company_name1=driver.find_elements_by_xpath('//span[@class="boldFont blackText airlineName"]')
Company_name1
Company_name2=[]

for i in Company_name1:
    Company_name2.append(i.text)
Company_name2

time1=driver.find_elements_by_xpath('//p[@class="blackText fontSize18 blackFont appendBottom2 makeFlex hrtlCenter"]')
time1
time2=[]

for i in time1:
    time2.append(i.text)
time2

departure_time=[]
for i in range(0,len(time2),2):
    departure_time.append(time2[i])
departure_time

arrivaltime=[]
for i in range(1,len(time2),2):
    arrivaltime.append(time2[i])
arrivaltime

place=driver.find_elements_by_xpath('//p[@class="darkText"]')
place1=[]

for i in place:
    place1.append(i.text)
place1

departureplace=[]
for i in range(0,len(place1),2):
    departureplace.append(place1[i])
departureplace

Arrivalplace=[]
for i in range(1,len(place1),2):
    Arrivalplace.append(place1[i])
Arrivalplace

timmings=driver.find_elements_by_xpath('//div[@class="stop-info flexOne"]')
timmings
timmings1=[]

for i in timmings:
    timmings1.append(i.text.replace("\n",","))
timmings1

price=driver.find_elements_by_xpath('//div[@class="textRight flexOne"]')
price
price1=[]

for i in price:
    price1.append(i.text)
price1 


df4=pd.DataFrame({})
df4["Airline_Name"]=Company_name2
df4["Departure Time"]=departure_time
df4["Arrival time"]=arrivaltime
df4["Departure Place"]=departureplace
df4["Arrival place"]=Arrivalplace
df4["Timmings"]=timmings1
df4["Price"]=price1


dateSelect = "'2022-02-14'"

df4['Date_of_Journey'] = dateSelect

df4

,Airline_Name,Departure Time,Arrival time,Departure Place,Arrival place,Timmings,Price,Date_of_Journey
0,Spicejet,07:20,09:35,New Delhi,Mumbai,"02 h 15 m,Non stop","₹ 2,409",'2022-02-14'
1,Spicejet,19:45,22:05,New Delhi,Mumbai,"02 h 20 m,Non stop","₹ 2,409",'2022-02-14'
2,AirAsia,08:20,14:10,New Delhi,Mumbai,"05 h 50 m,1 stop via Ranchi","₹ 2,409",'2022-02-14'
3,,,,,,,,'2022-02-14'
4,,,,,,,,'2022-02-14'
...,...,...,...,...,...,...,...,...
75,,,,,,,,'2022-02-14'
76,,,,,,,,'2022-02-14'
77,,,,,,,,'2022-02-14'
78,,,,,,,,'2022-02-14'
79,,,,,,,,'2022-02-14'

# DELHI-MUMBAI 21-02-2022

In [34]:
driver=webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver_win32 (2)\chromedriver.exe")
url1="https://www.makemytrip.com/flight/search?tripType=O&itinerary=DEL-BOM-21/02/2022&paxType=A-1_C-0_I-0&cabinClass=E&sTime=1643464231529&forwardFlowRequired=true&mpo="
driver.get(url1)

In [36]:
for i in url:
    SCROLL_PAUSE_TIME = 1

    # Get scroll height
    """last_height = driver.execute_script("return document.body.scrollHeight")

    this dowsnt work due to floating web elements on youtube
    """

    last_height = driver.execute_script("return document.documentElement.scrollHeight")
    while True:
        # Scroll down to bottom
        driver.execute_script("window.scrollTo(0,document.documentElement.scrollHeight);")

        # Wait to load page
        time.sleep(SCROLL_PAUSE_TIME)

        # Calculate new scroll height and compare with last scroll height
        new_height = driver.execute_script("return document.documentElement.scrollHeight")
        if new_height == last_height:
                 break
        last_height = new_height
        
Company_name1=driver.find_elements_by_xpath('//span[@class="boldFont blackText airlineName"]')
Company_name1
Company_name2=[]

for i in Company_name1:
    Company_name2.append(i.text)
Company_name2

time1=driver.find_elements_by_xpath('//p[@class="blackText fontSize18 blackFont appendBottom2 makeFlex hrtlCenter"]')
time1
time2=[]

for i in time1:
    time2.append(i.text)
time2

departure_time=[]
for i in range(0,len(time2),2):
    departure_time.append(time2[i])
departure_time

arrivaltime=[]
for i in range(1,len(time2),2):
    arrivaltime.append(time2[i])
arrivaltime

place=driver.find_elements_by_xpath('//p[@class="darkText"]')
place1=[]

for i in place:
    place1.append(i.text)
place1

departureplace=[]
for i in range(0,len(place1),2):
    departureplace.append(place1[i])
departureplace

Arrivalplace=[]
for i in range(1,len(place1),2):
    Arrivalplace.append(place1[i])
Arrivalplace

timmings=driver.find_elements_by_xpath('//div[@class="stop-info flexOne"]')
timmings
timmings1=[]

for i in timmings:
    timmings1.append(i.text.replace("\n",","))
timmings1

price=driver.find_elements_by_xpath('//div[@class="textRight flexOne"]')
price
price1=[]

for i in price:
    price1.append(i.text)
price1 


df5=pd.DataFrame({})
df5["Airline_Name"]=Company_name2
df5["Departure Time"]=departure_time
df5["Arrival time"]=arrivaltime
df5["Departure Place"]=departureplace
df5["Arrival place"]=Arrivalplace
df5["Timmings"]=timmings1
df5["Price"]=price1


dateSelect = "'2022-02-21'"

df5['Date_of_Journey'] = dateSelect

df5

,Airline_Name,Departure Time,Arrival time,Departure Place,Arrival place,Timmings,Price,Date_of_Journey
0,Spicejet,07:20,09:35,New Delhi,Mumbai,"02 h 15 m,Non stop","₹ 2,409",'2022-02-21'
1,Spicejet,07:45,12:00,New Delhi,Mumbai,"04 h 15 m,1 stop via Jabalpur","₹ 2,409",'2022-02-21'
2,,,,,,,,'2022-02-21'
3,,,,,,,,'2022-02-21'
4,,,,,,,,'2022-02-21'
...,...,...,...,...,...,...,...,...
82,,,,,,,,'2022-02-21'
83,,,,,,,,'2022-02-21'
84,,,,,,,,'2022-02-21'
85,,,,,,,,'2022-02-21'
86,,,,,,,,'2022-02-21'

In [38]:
# append method
df6= df.append([df1,df2,df3,df4,df5])
df6

,Airline_Name,Departure Time,Arrival time,Departure Place,Arrival place,Timmings,Price,Date_of_Journey
0,Go First,07:00,09:10,New Delhi,Mumbai,"02 h 10 m,Non stop","₹ 5,954",'2022-02-01'
1,Go First,08:00,10:10,New Delhi,Mumbai,"02 h 10 m,Non stop","₹ 5,954",'2022-02-01'
2,Go First,10:30,12:50,New Delhi,Mumbai,"02 h 20 m,Non stop","₹ 5,954",'2022-02-01'
3,Go First,14:20,16:35,New Delhi,Mumbai,"02 h 15 m,Non stop","₹ 5,954",'2022-02-01'
4,Go First,15:00,17:15,New Delhi,Mumbai,"02 h 15 m,Non stop","₹ 5,954",'2022-02-01'
...,...,...,...,...,...,...,...,...
82,,,,,,,,'2022-02-21'
83,,,,,,,,'2022-02-21'
84,,,,,,,,'2022-02-21'
85,,,,,,,,'2022-02-21'
86,,,,,,,,'2022-02-21'

In [43]:
file_name='DELHI-MUMBAI_FLIGHT.xlsx'
df6.to_excel(file_name)
print('DataFrame is written to Excel File successfully')

DataFrame is written to Excel File successfully