# DELHI-BANGALORE -01-02-2022

In [1]:
!pip install selenium
!pip install undetected-chromedriver
     

import time
import warnings
warnings.filterwarnings('ignore')

Requirement already satisfied: selenium in c:\users\admin\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (1.25.11)
Requirement already satisfied: undetected-chromedriver in c:\users\admin\anaconda3\lib\site-packages (3.0.6)
Requirement already satisfied: websockets in c:\users\admin\anaconda3\lib\site-packages (from undetected-chromedriver) (10.1)
Requirement already satisfied: selenium in c:\users\admin\anaconda3\lib\site-packages (from undetected-chromedriver) (3.141.0)
Requirement already satisfied: requests in c:\users\admin\anaconda3\lib\site-packages (from undetected-chromedriver) (2.24.0)
Requirement already satisfied: urllib3 in c:\users\admin\anaconda3\lib\site-packages (from selenium->undetected-chromedriver) (1.25.11)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\admin\anaconda3\lib\site-packages (from requests->undetected-chromedriver) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\admin\anaconda3\lib\site-packages (from requests->undetected-chromedriver) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in c:\users\admin\anaconda3\lib\site-packages (from requests->undetected-chromedriver) (2.10)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver 
from selenium.common.exceptions import  StaleElementReferenceException,ElementClickInterceptedException
from selenium.common.exceptions import  NoSuchElementException,NoSuchWindowException

from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By

In [3]:
driver=webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver_win32 (2)\chromedriver.exe")

In [4]:
url="https://www.makemytrip.com/flight/search?tripType=O&itinerary=DEL-BLR-29/01/2022&paxType=A-1_C-0_I-0&cabinClass=E&sTime=1643465828508&forwardFlowRequired=true&mpo=&intl=false"
driver.get(url)

In [5]:
for i in url:
    SCROLL_PAUSE_TIME = 1

    # Get scroll height
    """last_height = driver.execute_script("return document.body.scrollHeight")

    this dowsnt work due to floating web elements on youtube
    """

    last_height = driver.execute_script("return document.documentElement.scrollHeight")
    while True:
        # Scroll down to bottom
        driver.execute_script("window.scrollTo(0,document.documentElement.scrollHeight);")

        # Wait to load page
        time.sleep(SCROLL_PAUSE_TIME)

        # Calculate new scroll height and compare with last scroll height
        new_height = driver.execute_script("return document.documentElement.scrollHeight")
        if new_height == last_height:
                 break
        last_height = new_height

In [6]:
Company_name1=driver.find_elements_by_xpath('//span[@class="boldFont blackText airlineName"]')
Company_name1
Company_name2=[]

for i in Company_name1:
    Company_name2.append(i.text)
Company_name2

['IndiGo', 'IndiGo']

In [7]:
time1=driver.find_elements_by_xpath('//p[@class="blackText fontSize18 blackFont appendBottom2 makeFlex hrtlCenter"]')
time1
time2=[]

for i in time1:
    time2.append(i.text)
time2

['23:10', '08:55', '21:50', '07:50']

In [8]:
departure_time=[]
for i in range(0,len(time2),2):
    departure_time.append(time2[i])
departure_time

['23:10', '21:50']

In [9]:
arrivaltime=[]
for i in range(1,len(time2),2):
    arrivaltime.append(time2[i])
arrivaltime

['08:55', '07:50']

In [10]:
place=driver.find_elements_by_xpath('//p[@class="darkText"]')
place1=[]

for i in place:
    place1.append(i.text)
place1

['New Delhi', 'Bengaluru', 'New Delhi', 'Bengaluru']

In [11]:
departureplace=[]
for i in range(0,len(place1),2):
    departureplace.append(place1[i])
departureplace

['New Delhi', 'New Delhi']

In [12]:
Arrivalplace=[]
for i in range(1,len(place1),2):
    Arrivalplace.append(place1[i])
Arrivalplace

['Bengaluru', 'Bengaluru']

In [13]:
timmings=driver.find_elements_by_xpath('//div[@class="stop-info flexOne"]')
timmings
timmings1=[]

for i in timmings:
    timmings1.append(i.text.replace("\n",","))
timmings1

['09 h 45 m,1 stop via Pune', '10 h,1 stop via Jaipur']

In [14]:
price=driver.find_elements_by_xpath('//div[@class="textRight flexOne"]')
price
price1=[]

for i in price:
    price1.append(i.text)
price1

['₹ 10,523', '₹ 12,360']

In [15]:
df=pd.DataFrame({})
df["Airline_Name"]=Company_name2
df["Departure Time"]=departure_time
df["Arrival time"]=arrivaltime
df["Departure Place"]=departureplace
df["Arrival place"]=Arrivalplace
df["Timmings"]=timmings1
df["Price"]=price1

In [16]:
df

,Airline_Name,Departure Time,Arrival time,Departure Place,Arrival place,Timmings,Price
0,IndiGo,23:10,08:55,New Delhi,Bengaluru,"09 h 45 m,1 stop via Pune","₹ 10,523"
1,IndiGo,21:50,07:50,New Delhi,Bengaluru,"10 h,1 stop via Jaipur","₹ 12,360"

In [17]:
dateSelect = "'2022-01-29'"

In [18]:
df['Date_of_Journey'] = dateSelect

In [19]:
df

,Airline_Name,Departure Time,Arrival time,Departure Place,Arrival place,Timmings,Price,Date_of_Journey
0,IndiGo,23:10,08:55,New Delhi,Bengaluru,"09 h 45 m,1 stop via Pune","₹ 10,523",'2022-01-29'
1,IndiGo,21:50,07:50,New Delhi,Bengaluru,"10 h,1 stop via Jaipur","₹ 12,360",'2022-01-29'

# DELHI-MUMBAI 30-01-2022

In [20]:
driver=webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver_win32 (2)\chromedriver.exe")
url="https://www.makemytrip.com/flight/search?tripType=O&itinerary=DEL-BLR-30/01/2022&paxType=A-1_C-0_I-0&cabinClass=E&sTime=1643466311294&forwardFlowRequired=true&mpo=&intl=false"
driver.get(url)

In [21]:
for i in url:
    SCROLL_PAUSE_TIME = 1

    # Get scroll height
    """last_height = driver.execute_script("return document.body.scrollHeight")

    this dowsnt work due to floating web elements on youtube
    """

    last_height = driver.execute_script("return document.documentElement.scrollHeight")
    while True:
        # Scroll down to bottom
        driver.execute_script("window.scrollTo(0,document.documentElement.scrollHeight);")

        # Wait to load page
        time.sleep(SCROLL_PAUSE_TIME)

        # Calculate new scroll height and compare with last scroll height
        new_height = driver.execute_script("return document.documentElement.scrollHeight")
        if new_height == last_height:
                 break
        last_height = new_height
        
Company_name1=driver.find_elements_by_xpath('//span[@class="boldFont blackText airlineName"]')
Company_name1
Company_name2=[]

for i in Company_name1:
    Company_name2.append(i.text)
Company_name2

time1=driver.find_elements_by_xpath('//p[@class="blackText fontSize18 blackFont appendBottom2 makeFlex hrtlCenter"]')
time1
time2=[]

for i in time1:
    time2.append(i.text)
time2

departure_time=[]
for i in range(0,len(time2),2):
    departure_time.append(time2[i])
departure_time

arrivaltime=[]
for i in range(1,len(time2),2):
    arrivaltime.append(time2[i])
arrivaltime

place=driver.find_elements_by_xpath('//p[@class="darkText"]')
place1=[]

for i in place:
    place1.append(i.text)
place1

departureplace=[]
for i in range(0,len(place1),2):
    departureplace.append(place1[i])
departureplace

Arrivalplace=[]
for i in range(1,len(place1),2):
    Arrivalplace.append(place1[i])
Arrivalplace

timmings=driver.find_elements_by_xpath('//div[@class="stop-info flexOne"]')
timmings
timmings1=[]

for i in timmings:
    timmings1.append(i.text.replace("\n",","))
timmings1

price=driver.find_elements_by_xpath('//div[@class="textRight flexOne"]')
price
price1=[]

for i in price:
    price1.append(i.text)
price1 


df1=pd.DataFrame({})
df1["Airline_Name"]=Company_name2
df1["Departure Time"]=departure_time
df1["Arrival time"]=arrivaltime
df1["Departure Place"]=departureplace
df1["Arrival place"]=Arrivalplace
df1["Timmings"]=timmings1
df1["Price"]=price1


dateSelect = "'2022-01-30'"

df1['Date_of_Journey'] = dateSelect

df1

,Airline_Name,Departure Time,Arrival time,Departure Place,Arrival place,Timmings,Price,Date_of_Journey
0,AirAsia,12:40,20:55,New Delhi,Bengaluru,"08 h 15 m,2 stop via Goa,Hyderabad","₹ 5,314",'2022-01-30'
1,,,,,,,,'2022-01-30'
2,,,,,,,,'2022-01-30'
3,,,,,,,,'2022-01-30'
4,,,,,,,,'2022-01-30'
5,,,,,,,,'2022-01-30'
6,,,,,,,,'2022-01-30'
7,,,,,,,,'2022-01-30'
8,,,,,,,,'2022-01-30'
9,Spicejet,05:35,08:05,New Delhi,Bengaluru,"02 h 30 m,Non stop","₹ 7,425",'2022-01-30'
10,Air India,06:10,08:55,New Delhi,Bengaluru,"02 h 45 m,Non stop","₹ 7,425",'2022-01-30'
11,IndiGo,08:20,11:15,New Delhi,Bengaluru,"02 h 55 m,Non stop","₹ 7,425",'2022-01-30'
12,Vistara,09:05,11:50,New Delhi,Bengaluru,"02 h 45 m,Non stop","₹ 7,425",'2022-01-30'
13,IndiGo,09:15,12:10,New Delhi,Bengaluru,"02 h 55 m,Non stop","₹ 7,425",'2022-01-30'
14,Air India,09:45,12:30,New Delhi,Bengaluru,"02 h 45 m,Non stop","₹ 7,425",'2022-01-30'
15,IndiGo,15:30,18:30,New Delhi,Bengaluru,"03 h,Non stop","₹ 7,425",'2022-01-30'
16,Air India,17:20,20:05,New Delhi,Bengaluru,"02 h 45 m,Non stop","₹ 7,425",'2022-01-30'
17,Vistara,20:40,23:20,New Delhi,Bengaluru,"02 h 40 m,Non stop","₹ 7,425",'2022-01-30'
18,Air India,21:25,00:05,New Delhi,Bengaluru,"02 h 40 m,Non stop","₹ 7,425",'2022-01-30'
19,IndiGo,21:25,00:20,New Delhi,Bengaluru,"02 h 55 m,Non stop","₹ 7,425",'2022-01-30'
20,Spicejet,09:30,16:50,New Delhi,Bengaluru,"07 h 20 m,1 stop via Pune","₹ 7,425",'2022-01-30'
21,Spicejet,19:30,09:00,New Delhi,Bengaluru,"13 h 30 m,1 stop via Goa","₹ 7,425",'2022-01-30'
22,AirAsia,08:00,10:40,New Delhi,Bengaluru,"02 h 40 m,Non stop","₹ 7,633",'2022-01-30'
23,Air India,13:30,16:15,New Delhi,Bengaluru,"02 h 45 m,Non stop","₹ 7,845",'2022-01-30'
24,Vistara,16:05,18:50,New Delhi,Bengaluru,"02 h 45 m,Non stop","₹ 7,845",'2022-01-30'
25,IndiGo,12:30,15:25,New Delhi,Bengaluru,"02 h 55 m,Non stop","₹ 8,055",'2022-01-30'
26,IndiGo,18:20,21:15,New Delhi,Bengaluru,"02 h 55 m,Non stop","₹ 8,055",'2022-01-30'
27,Vistara,14:15,17:00,New Delhi,Bengaluru,"02 h 45 m,Non stop","₹ 8,265",'2022-01-30'
28,IndiGo,15:55,23:30,New Delhi,Bengaluru,"07 h 35 m,1 stop via Udaipur","₹ 9,683",'2022-01-30'
29,,,,,,,,'2022-01-30'
30,,,,,,,,'2022-01-30'
31,,,,,,,,'2022-01-30'
32,,,,,,,,'2022-01-30'
33,,,,,,,,'2022-01-30'
34,,,,,,,,'2022-01-30'
35,,,,,,,,'2022-01-30'
36,,,,,,,,'2022-01-30'
37,,,,,,,,'2022-01-30'
38,,,,,,,,'2022-01-30'
39,,,,,,,,'2022-01-30'
40,,,,,,,,'2022-01-30'
41,,,,,,,,'2022-01-30'
42,,,,,,,,'2022-01-30'

# DELHI-MUMBAI 31-01-2022

In [22]:
driver=webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver_win32 (2)\chromedriver.exe")
url1="https://www.makemytrip.com/flight/search?tripType=O&itinerary=DEL-BLR-31/01/2022&paxType=A-1_C-0_I-0&cabinClass=E&sTime=1643466625093&forwardFlowRequired=true&mpo=&intl=false"
driver.get(url1)

In [23]:
for i in url:
    SCROLL_PAUSE_TIME = 1

    # Get scroll height
    """last_height = driver.execute_script("return document.body.scrollHeight")

    this dowsnt work due to floating web elements on youtube
    """

    last_height = driver.execute_script("return document.documentElement.scrollHeight")
    while True:
        # Scroll down to bottom
        driver.execute_script("window.scrollTo(0,document.documentElement.scrollHeight);")

        # Wait to load page
        time.sleep(SCROLL_PAUSE_TIME)

        # Calculate new scroll height and compare with last scroll height
        new_height = driver.execute_script("return document.documentElement.scrollHeight")
        if new_height == last_height:
                 break
        last_height = new_height
        
Company_name1=driver.find_elements_by_xpath('//span[@class="boldFont blackText airlineName"]')
Company_name1
Company_name2=[]

for i in Company_name1:
    Company_name2.append(i.text)
Company_name2

time1=driver.find_elements_by_xpath('//p[@class="blackText fontSize18 blackFont appendBottom2 makeFlex hrtlCenter"]')
time1
time2=[]

for i in time1:
    time2.append(i.text)
time2

departure_time=[]
for i in range(0,len(time2),2):
    departure_time.append(time2[i])
departure_time

arrivaltime=[]
for i in range(1,len(time2),2):
    arrivaltime.append(time2[i])
arrivaltime

place=driver.find_elements_by_xpath('//p[@class="darkText"]')
place1=[]

for i in place:
    place1.append(i.text)
place1

departureplace=[]
for i in range(0,len(place1),2):
    departureplace.append(place1[i])
departureplace

Arrivalplace=[]
for i in range(1,len(place1),2):
    Arrivalplace.append(place1[i])
Arrivalplace

timmings=driver.find_elements_by_xpath('//div[@class="stop-info flexOne"]')
timmings
timmings1=[]

for i in timmings:
    timmings1.append(i.text.replace("\n",","))
timmings1

price=driver.find_elements_by_xpath('//div[@class="textRight flexOne"]')
price
price1=[]

for i in price:
    price1.append(i.text)
price1 


df2=pd.DataFrame({})
df2["Airline_Name"]=Company_name2
df2["Departure Time"]=departure_time
df2["Arrival time"]=arrivaltime
df2["Departure Place"]=departureplace
df2["Arrival place"]=Arrivalplace
df2["Timmings"]=timmings1
df2["Price"]=price1


dateSelect = "'2022-01-31'"

df2['Date_of_Journey'] = dateSelect

df2

,Airline_Name,Departure Time,Arrival time,Departure Place,Arrival place,Timmings,Price,Date_of_Journey
0,AirAsia,12:40,20:55,New Delhi,Bengaluru,"08 h 15 m,2 stop via Goa,Hyderabad","₹ 5,314",'2022-01-31'
1,Go First,18:40,21:25,New Delhi,Bengaluru,"02 h 45 m,Non stop","₹ 7,424",'2022-01-31'
2,Go First,14:20,22:20,New Delhi,Bengaluru,"08 h,1 stop via Mumbai","₹ 7,424",'2022-01-31'
3,,,,,,,,'2022-01-31'
4,,,,,,,,'2022-01-31'
5,,,,,,,,'2022-01-31'
6,,,,,,,,'2022-01-31'
7,,,,,,,,'2022-01-31'
8,,,,,,,,'2022-01-31'
9,Spicejet,05:35,08:05,New Delhi,Bengaluru,"02 h 30 m,Non stop","₹ 7,425",'2022-01-31'
10,IndiGo,06:10,08:50,New Delhi,Bengaluru,"02 h 40 m,Non stop","₹ 7,425",'2022-01-31'
11,Air India,06:10,08:55,New Delhi,Bengaluru,"02 h 45 m,Non stop","₹ 7,425",'2022-01-31'
12,Vistara,09:05,11:50,New Delhi,Bengaluru,"02 h 45 m,Non stop","₹ 7,425",'2022-01-31'
13,IndiGo,09:15,12:10,New Delhi,Bengaluru,"02 h 55 m,Non stop","₹ 7,425",'2022-01-31'
14,Air India,09:45,12:30,New Delhi,Bengaluru,"02 h 45 m,Non stop","₹ 7,425",'2022-01-31'
15,IndiGo,12:30,15:25,New Delhi,Bengaluru,"02 h 55 m,Non stop","₹ 7,425",'2022-01-31'
16,Air India,13:30,16:15,New Delhi,Bengaluru,"02 h 45 m,Non stop","₹ 7,425",'2022-01-31'
17,IndiGo,15:30,18:30,New Delhi,Bengaluru,"03 h,Non stop","₹ 7,425",'2022-01-31'
18,Air India,17:20,20:05,New Delhi,Bengaluru,"02 h 45 m,Non stop","₹ 7,425",'2022-01-31'
19,Vistara,20:40,23:20,New Delhi,Bengaluru,"02 h 40 m,Non stop","₹ 7,425",'2022-01-31'
20,Air India,21:15,00:10,New Delhi,Bengaluru,"02 h 55 m,Non stop","₹ 7,425",'2022-01-31'
21,Spicejet,09:30,16:50,New Delhi,Bengaluru,"07 h 20 m,1 stop via Pune","₹ 7,425",'2022-01-31'
22,,,,,,,,'2022-01-31'
23,,,,,,,,'2022-01-31'
24,,,,,,,,'2022-01-31'
25,AirAsia,08:00,10:40,New Delhi,Bengaluru,"02 h 40 m,Non stop","₹ 7,426",'2022-01-31'
26,Vistara,16:05,18:50,New Delhi,Bengaluru,"02 h 45 m,Non stop","₹ 9,315",'2022-01-31'
27,IndiGo,06:45,13:20,New Delhi,Bengaluru,"06 h 35 m,1 stop via Hyderabad","₹ 9,735",'2022-01-31'
28,,,,,,,,'2022-01-31'
29,,,,,,,,'2022-01-31'
30,,,,,,,,'2022-01-31'
31,,,,,,,,'2022-01-31'
32,IndiGo,21:25,00:20,New Delhi,Bengaluru,"02 h 55 m,Non stop","₹ 10,313",'2022-01-31'
33,"Go First, IndiGo",07:20,13:20,New Delhi,Bengaluru,"06 h,1 stop via Hyderabad","₹ 10,407",'2022-01-31'
34,,,,,,,,'2022-01-31'
35,,,,,,,,'2022-01-31'
36,,,,,,,,'2022-01-31'
37,,,,,,,,'2022-01-31'
38,,,,,,,,'2022-01-31'
39,,,,,,,,'2022-01-31'
40,,,,,,,,'2022-01-31'
41,,,,,,,,'2022-01-31'

# DELHI-MUMBAI 07-02-2022

In [24]:
driver=webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver_win32 (2)\chromedriver.exe")
url1="https://www.makemytrip.com/flight/search?tripType=O&itinerary=DEL-BLR-07/02/2022&paxType=A-1_C-0_I-0&cabinClass=E&sTime=1643467543991&forwardFlowRequired=true&mpo=&intl=false"
driver.get(url1)

In [25]:
for i in url:
    SCROLL_PAUSE_TIME = 1

    # Get scroll height
    """last_height = driver.execute_script("return document.body.scrollHeight")

    this dowsnt work due to floating web elements on youtube
    """

    last_height = driver.execute_script("return document.documentElement.scrollHeight")
    while True:
        # Scroll down to bottom
        driver.execute_script("window.scrollTo(0,document.documentElement.scrollHeight);")

        # Wait to load page
        time.sleep(SCROLL_PAUSE_TIME)

        # Calculate new scroll height and compare with last scroll height
        new_height = driver.execute_script("return document.documentElement.scrollHeight")
        if new_height == last_height:
                 break
        last_height = new_height
        
Company_name1=driver.find_elements_by_xpath('//span[@class="boldFont blackText airlineName"]')
Company_name1
Company_name2=[]

for i in Company_name1:
    Company_name2.append(i.text)
Company_name2

time1=driver.find_elements_by_xpath('//p[@class="blackText fontSize18 blackFont appendBottom2 makeFlex hrtlCenter"]')
time1
time2=[]

for i in time1:
    time2.append(i.text)
time2

departure_time=[]
for i in range(0,len(time2),2):
    departure_time.append(time2[i])
departure_time

arrivaltime=[]
for i in range(1,len(time2),2):
    arrivaltime.append(time2[i])
arrivaltime

place=driver.find_elements_by_xpath('//p[@class="darkText"]')
place1=[]

for i in place:
    place1.append(i.text)
place1

departureplace=[]
for i in range(0,len(place1),2):
    departureplace.append(place1[i])
departureplace

Arrivalplace=[]
for i in range(1,len(place1),2):
    Arrivalplace.append(place1[i])
Arrivalplace

timmings=driver.find_elements_by_xpath('//div[@class="stop-info flexOne"]')
timmings
timmings1=[]

for i in timmings:
    timmings1.append(i.text.replace("\n",","))
timmings1

price=driver.find_elements_by_xpath('//div[@class="textRight flexOne"]')
price
price1=[]

for i in price:
    price1.append(i.text)
price1 


df3=pd.DataFrame({})
df3["Airline_Name"]=Company_name2
df3["Departure Time"]=departure_time
df3["Arrival time"]=arrivaltime
df3["Departure Place"]=departureplace
df3["Arrival place"]=Arrivalplace
df3["Timmings"]=timmings1
df3["Price"]=price1


dateSelect = "'2022-02-07'"

df3['Date_of_Journey'] = dateSelect

df3

,Airline_Name,Departure Time,Arrival time,Departure Place,Arrival place,Timmings,Price,Date_of_Journey
0,AirAsia,12:40,20:55,New Delhi,Bengaluru,"08 h 15 m,2 stop via Goa,Hyderabad","₹ 5,314",'2022-02-07'
1,,,,,,,,'2022-02-07'
2,,,,,,,,'2022-02-07'
3,,,,,,,,'2022-02-07'
4,Go First,06:05,08:40,New Delhi,Bengaluru,"02 h 35 m,Non stop","₹ 7,424",'2022-02-07'
5,Go First,18:40,21:25,New Delhi,Bengaluru,"02 h 45 m,Non stop","₹ 7,424",'2022-02-07'
6,Go First,09:00,14:55,New Delhi,Bengaluru,"05 h 55 m,1 stop via Patna","₹ 7,424",'2022-02-07'
7,,,,,,,,'2022-02-07'
8,,,,,,,,'2022-02-07'
9,,,,,,,,'2022-02-07'
10,,,,,,,,'2022-02-07'
11,,,,,,,,'2022-02-07'
12,,,,,,,,'2022-02-07'
13,,,,,,,,'2022-02-07'
14,,,,,,,,'2022-02-07'
15,,,,,,,,'2022-02-07'
16,,,,,,,,'2022-02-07'
17,,,,,,,,'2022-02-07'
18,,,,,,,,'2022-02-07'
19,,,,,,,,'2022-02-07'
20,,,,,,,,'2022-02-07'
21,,,,,,,,'2022-02-07'
22,Spicejet,05:35,08:05,New Delhi,Bengaluru,"02 h 30 m,Non stop","₹ 7,425",'2022-02-07'
23,IndiGo,06:10,08:50,New Delhi,Bengaluru,"02 h 40 m,Non stop","₹ 7,425",'2022-02-07'
24,Air India,06:10,08:55,New Delhi,Bengaluru,"02 h 45 m,Non stop","₹ 7,425",'2022-02-07'
25,Vistara,08:05,10:50,New Delhi,Bengaluru,"02 h 45 m,Non stop","₹ 7,425",'2022-02-07'
26,IndiGo,08:20,11:15,New Delhi,Bengaluru,"02 h 55 m,Non stop","₹ 7,425",'2022-02-07'
27,Vistara,09:05,11:50,New Delhi,Bengaluru,"02 h 45 m,Non stop","₹ 7,425",'2022-02-07'
28,IndiGo,09:15,12:10,New Delhi,Bengaluru,"02 h 55 m,Non stop","₹ 7,425",'2022-02-07'
29,Air India,09:45,12:30,New Delhi,Bengaluru,"02 h 45 m,Non stop","₹ 7,425",'2022-02-07'
30,IndiGo,12:30,15:25,New Delhi,Bengaluru,"02 h 55 m,Non stop","₹ 7,425",'2022-02-07'
31,Air India,13:30,16:15,New Delhi,Bengaluru,"02 h 45 m,Non stop","₹ 7,425",'2022-02-07'
32,Vistara,14:15,17:00,New Delhi,Bengaluru,"02 h 45 m,Non stop","₹ 7,425",'2022-02-07'
33,IndiGo,15:30,18:30,New Delhi,Bengaluru,"03 h,Non stop","₹ 7,425",'2022-02-07'
34,Vistara,16:05,18:50,New Delhi,Bengaluru,"02 h 45 m,Non stop","₹ 7,425",'2022-02-07'
35,Air India,17:20,20:05,New Delhi,Bengaluru,"02 h 45 m,Non stop","₹ 7,425",'2022-02-07'
36,Vistara,17:35,20:25,New Delhi,Bengaluru,"02 h 50 m,Non stop","₹ 7,425",'2022-02-07'
37,IndiGo,18:20,21:15,New Delhi,Bengaluru,"02 h 55 m,Non stop","₹ 7,425",'2022-02-07'
38,Spicejet,19:40,22:25,New Delhi,Bengaluru,"02 h 45 m,Non stop","₹ 7,425",'2022-02-07'
39,Vistara,19:50,22:40,New Delhi,Bengaluru,"02 h 50 m,Non stop","₹ 7,425",'2022-02-07'
40,Air India,21:15,00:10,New Delhi,Bengaluru,"02 h 55 m,Non stop","₹ 7,425",'2022-02-07'
41,IndiGo,21:25,00:20,New Delhi,Bengaluru,"02 h 55 m,Non stop","₹ 7,425",'2022-02-07'
42,Spicejet,22:30,01:15,New Delhi,Bengaluru,"02 h 45 m,Non stop","₹ 7,425",'2022-02-07'
43,Spicejet,09:30,16:50,New Delhi,Bengaluru,"07 h 20 m,1 stop via Pune","₹ 7,425",'2022-02-07'
44,AirAsia,08:00,10:40,New Delhi,Bengaluru,"02 h 40 m,Non stop","₹ 7,426",'2022-02-07'
45,IndiGo,06:45,13:20,New Delhi,Bengaluru,"06 h 35 m,1 stop via Hyderabad","₹ 9,735",'2022-02-07'
46,,,,,,,,'2022-02-07'
47,,,,,,,,'2022-02-07'
48,,,,,,,,'2022-02-07'
49,,,,,,,,'2022-02-07'
50,,,,,,,,'2022-02-07'
51,,,,,,,,'2022-02-07'
52,,,,,,,,'2022-02-07'
53,,,,,,,,'2022-02-07'
54,,,,,,,,'2022-02-07'
55,,,,,,,,'2022-02-07'
56,,,,,,,,'2022-02-07'

# DELHI-MUMBAI 14-02-2022

In [26]:
driver=webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver_win32 (2)\chromedriver.exe")
url1="https://www.makemytrip.com/flight/search?tripType=O&itinerary=DEL-BLR-14/02/2022&paxType=A-1_C-0_I-0&cabinClass=E&sTime=1643467675117&forwardFlowRequired=true&mpo=&intl=false"
driver.get(url1)

In [27]:
for i in url:
    SCROLL_PAUSE_TIME = 1

    # Get scroll height
    """last_height = driver.execute_script("return document.body.scrollHeight")

    this dowsnt work due to floating web elements on youtube
    """

    last_height = driver.execute_script("return document.documentElement.scrollHeight")
    while True:
        # Scroll down to bottom
        driver.execute_script("window.scrollTo(0,document.documentElement.scrollHeight);")

        # Wait to load page
        time.sleep(SCROLL_PAUSE_TIME)

        # Calculate new scroll height and compare with last scroll height
        new_height = driver.execute_script("return document.documentElement.scrollHeight")
        if new_height == last_height:
                 break
        last_height = new_height
        
Company_name1=driver.find_elements_by_xpath('//span[@class="boldFont blackText airlineName"]')
Company_name1
Company_name2=[]

for i in Company_name1:
    Company_name2.append(i.text)
Company_name2

time1=driver.find_elements_by_xpath('//p[@class="blackText fontSize18 blackFont appendBottom2 makeFlex hrtlCenter"]')
time1
time2=[]

for i in time1:
    time2.append(i.text)
time2

departure_time=[]
for i in range(0,len(time2),2):
    departure_time.append(time2[i])
departure_time

arrivaltime=[]
for i in range(1,len(time2),2):
    arrivaltime.append(time2[i])
arrivaltime

place=driver.find_elements_by_xpath('//p[@class="darkText"]')
place1=[]

for i in place:
    place1.append(i.text)
place1

departureplace=[]
for i in range(0,len(place1),2):
    departureplace.append(place1[i])
departureplace

Arrivalplace=[]
for i in range(1,len(place1),2):
    Arrivalplace.append(place1[i])
Arrivalplace

timmings=driver.find_elements_by_xpath('//div[@class="stop-info flexOne"]')
timmings
timmings1=[]

for i in timmings:
    timmings1.append(i.text.replace("\n",","))
timmings1

price=driver.find_elements_by_xpath('//div[@class="textRight flexOne"]')
price
price1=[]

for i in price:
    price1.append(i.text)
price1 


df4=pd.DataFrame({})
df4["Airline_Name"]=Company_name2
df4["Departure Time"]=departure_time
df4["Arrival time"]=arrivaltime
df4["Departure Place"]=departureplace
df4["Arrival place"]=Arrivalplace
df4["Timmings"]=timmings1
df4["Price"]=price1


dateSelect = "'2022-02-14'"

df4['Date_of_Journey'] = dateSelect

df4

,Airline_Name,Departure Time,Arrival time,Departure Place,Arrival place,Timmings,Price,Date_of_Journey
0,IndiGo,06:45,13:20,New Delhi,Bengaluru,"06 h 35 m,1 stop via Hyderabad","₹ 2,863",'2022-02-14'
1,,,,,,,,'2022-02-14'
2,,,,,,,,'2022-02-14'
3,,,,,,,,'2022-02-14'
4,,,,,,,,'2022-02-14'
...,...,...,...,...,...,...,...,...
60,,,,,,,,'2022-02-14'
61,,,,,,,,'2022-02-14'
62,,,,,,,,'2022-02-14'
63,,,,,,,,'2022-02-14'
64,,,,,,,,'2022-02-14'

# DELHI-MUMBAI 21-02-2022

In [28]:
driver=webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver_win32 (2)\chromedriver.exe")
url1="https://www.makemytrip.com/flight/search?tripType=O&itinerary=DEL-BOM-21/02/2022&paxType=A-1_C-0_I-0&cabinClass=E&sTime=1643464231529&forwardFlowRequired=true&mpo="
driver.get(url1)

In [29]:
for i in url:
    SCROLL_PAUSE_TIME = 1

    # Get scroll height
    """last_height = driver.execute_script("return document.body.scrollHeight")

    this dowsnt work due to floating web elements on youtube
    """

    last_height = driver.execute_script("return document.documentElement.scrollHeight")
    while True:
        # Scroll down to bottom
        driver.execute_script("window.scrollTo(0,document.documentElement.scrollHeight);")

        # Wait to load page
        time.sleep(SCROLL_PAUSE_TIME)

        # Calculate new scroll height and compare with last scroll height
        new_height = driver.execute_script("return document.documentElement.scrollHeight")
        if new_height == last_height:
                 break
        last_height = new_height
        
Company_name1=driver.find_elements_by_xpath('//span[@class="boldFont blackText airlineName"]')
Company_name1
Company_name2=[]

for i in Company_name1:
    Company_name2.append(i.text)
Company_name2

time1=driver.find_elements_by_xpath('//p[@class="blackText fontSize18 blackFont appendBottom2 makeFlex hrtlCenter"]')
time1
time2=[]

for i in time1:
    time2.append(i.text)
time2

departure_time=[]
for i in range(0,len(time2),2):
    departure_time.append(time2[i])
departure_time

arrivaltime=[]
for i in range(1,len(time2),2):
    arrivaltime.append(time2[i])
arrivaltime

place=driver.find_elements_by_xpath('//p[@class="darkText"]')
place1=[]

for i in place:
    place1.append(i.text)
place1

departureplace=[]
for i in range(0,len(place1),2):
    departureplace.append(place1[i])
departureplace

Arrivalplace=[]
for i in range(1,len(place1),2):
    Arrivalplace.append(place1[i])
Arrivalplace

timmings=driver.find_elements_by_xpath('//div[@class="stop-info flexOne"]')
timmings
timmings1=[]

for i in timmings:
    timmings1.append(i.text.replace("\n",","))
timmings1

price=driver.find_elements_by_xpath('//div[@class="textRight flexOne"]')
price
price1=[]

for i in price:
    price1.append(i.text)
price1 


df5=pd.DataFrame({})
df5["Airline_Name"]=Company_name2
df5["Departure Time"]=departure_time
df5["Arrival time"]=arrivaltime
df5["Departure Place"]=departureplace
df5["Arrival place"]=Arrivalplace
df5["Timmings"]=timmings1
df5["Price"]=price1


dateSelect = "'2022-02-21'"

df5['Date_of_Journey'] = dateSelect

df5

,Airline_Name,Departure Time,Arrival time,Departure Place,Arrival place,Timmings,Price,Date_of_Journey
0,Spicejet,07:20,09:35,New Delhi,Mumbai,"02 h 15 m,Non stop","₹ 2,409",'2022-02-21'
1,Spicejet,07:45,12:00,New Delhi,Mumbai,"04 h 15 m,1 stop via Jabalpur","₹ 2,409",'2022-02-21'
2,,,,,,,,'2022-02-21'
3,,,,,,,,'2022-02-21'
4,,,,,,,,'2022-02-21'
...,...,...,...,...,...,...,...,...
82,,,,,,,,'2022-02-21'
83,,,,,,,,'2022-02-21'
84,,,,,,,,'2022-02-21'
85,,,,,,,,'2022-02-21'
86,,,,,,,,'2022-02-21'

In [30]:
# append method
df6= df.append([df1,df2,df3,df4,df5])
df6

,Airline_Name,Departure Time,Arrival time,Departure Place,Arrival place,Timmings,Price,Date_of_Journey
0,IndiGo,23:10,08:55,New Delhi,Bengaluru,"09 h 45 m,1 stop via Pune","₹ 10,523",'2022-01-29'
1,IndiGo,21:50,07:50,New Delhi,Bengaluru,"10 h,1 stop via Jaipur","₹ 12,360",'2022-01-29'
0,AirAsia,12:40,20:55,New Delhi,Bengaluru,"08 h 15 m,2 stop via Goa,Hyderabad","₹ 5,314",'2022-01-30'
1,,,,,,,,'2022-01-30'
2,,,,,,,,'2022-01-30'
...,...,...,...,...,...,...,...,...
82,,,,,,,,'2022-02-21'
83,,,,,,,,'2022-02-21'
84,,,,,,,,'2022-02-21'
85,,,,,,,,'2022-02-21'
86,,,,,,,,'2022-02-21'

In [31]:
file_name='DELHI-BANGALORE_FLIGHT.xlsx'
df6.to_excel(file_name)
print('DataFrame is written to Excel File successfully')

DataFrame is written to Excel File successfully