# MUMBAI-DELHI-30-01-2022

In [1]:
!pip install selenium
!pip install undetected-chromedriver
     

import time
import warnings
warnings.filterwarnings('ignore')

Requirement already satisfied: selenium in c:\users\admin\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (1.25.11)
Requirement already satisfied: undetected-chromedriver in c:\users\admin\anaconda3\lib\site-packages (3.0.6)
Requirement already satisfied: requests in c:\users\admin\anaconda3\lib\site-packages (from undetected-chromedriver) (2.24.0)
Requirement already satisfied: websockets in c:\users\admin\anaconda3\lib\site-packages (from undetected-chromedriver) (10.1)
Requirement already satisfied: selenium in c:\users\admin\anaconda3\lib\site-packages (from undetected-chromedriver) (3.141.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\admin\anaconda3\lib\site-packages (from requests->undetected-chromedriver) (1.25.11)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\admin\anaconda3\lib\site-packages (from requests->undetected-chromedriver) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\admin\anaconda3\lib\site-packages (from requests->undetected-chromedriver) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in c:\users\admin\anaconda3\lib\site-packages (from requests->undetected-chromedriver) (2.10)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver 
from selenium.common.exceptions import  StaleElementReferenceException,ElementClickInterceptedException
from selenium.common.exceptions import  NoSuchElementException,NoSuchWindowException

from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By

In [3]:
driver=webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver_win32 (2)\chromedriver.exe")

In [4]:
url="https://flight.yatra.com/air-search-ui/dom2/trigger?type=O&viewName=normal&flexi=0&noOfSegments=1&origin=BOM&originCountry=IN&destination=DEL&destinationCountry=IN&flight_depart_date=30%2F01%2F2022&ADT=1&CHD=0&INF=0&class=Economy&source=fresco-home&unqvaldesktop=970003810026"
driver.get(url)

In [5]:
for i in url:
    SCROLL_PAUSE_TIME = 1

    # Get scroll height
    """last_height = driver.execute_script("return document.body.scrollHeight")

    this dowsnt work due to floating web elements on youtube
    """

    last_height = driver.execute_script("return document.documentElement.scrollHeight")
    while True:
        # Scroll down to bottom
        driver.execute_script("window.scrollTo(0,document.documentElement.scrollHeight);")

        # Wait to load page
        time.sleep(SCROLL_PAUSE_TIME)

        # Calculate new scroll height and compare with last scroll height
        new_height = driver.execute_script("return document.documentElement.scrollHeight")
        if new_height == last_height:
                 break
        last_height = new_height

In [6]:
Company_name1=driver.find_elements_by_xpath('//span[@class="i-b text ellipsis"]')
Company_name1
Company_name2=[]

for i in Company_name1:
    Company_name2.append(i.text)
Company_name2

['Go First',
 'Go First',
 'Go First',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'Go First',
 'Go First',
 'Go First',
 'Go First',
 'Go First',
 'IndiGo',
 'IndiGo',
 'Vistara',
 'IndiGo',
 'Vistara',
 'SpiceJet',
 'IndiGo',
 'IndiGo',
 'Vistara',
 'IndiGo',
 'SpiceJet',
 'Air India',
 'SpiceJet',
 'Air India',
 'IndiGo',
 'Vistara',
 'Air India',
 'Air India',
 'Air India',
 'Vistara',
 'Air India',
 'Air India',
 'SpiceJet',
 'SpiceJet',
 'SpiceJet',
 'IndiGo',
 'IndiGo',
 'Vistara',
 'Air India',
 'IndiGo',
 'IndiGo',
 'Vistara',
 'Vistara',
 'Air India',
 'Air India',
 'Vistara',
 'Vistara',
 'Vistara',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Vistara',
 'Air India',
 'Vistara',
 'Air India',
 'Air India',
 'Vistara',
 'Vistara',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Vistara',
 'Air India',
 'Air India',
 'Vistara',
 'Air India',
 'Vistara',
 'Air India',
 'Vistara',
 'Vistara',
 'Air India']

In [11]:
Departuretime=driver.find_elements_by_xpath('//div[@class="fs-15 bold time"]')
Departuretime
Departuretime1=[]

for i in Departuretime:
    Departuretime1.append(i.text)
Departuretime1

['18:00',
 '15:45',
 '21:15',
 '13:45',
 '06:05',
 '17:30',
 '08:55',
 '11:20',
 '16:20',
 '15:20',
 '19:15',
 '11:30',
 '19:35',
 '08:30',
 '06:30',
 '17:15',
 '20:55',
 '22:20',
 '06:00',
 '10:05',
 '18:30',
 '07:05',
 '07:20',
 '08:00',
 '09:55',
 '10:00',
 '11:45',
 '15:15',
 '16:00',
 '19:00',
 '21:30',
 '15:45',
 '18:10',
 '07:05',
 '05:55',
 '13:50',
 '16:10',
 '15:05',
 '06:35',
 '10:25',
 '11:10',
 '09:25',
 '09:25',
 '05:30',
 '12:10',
 '18:35',
 '05:35',
 '10:45',
 '10:45',
 '10:45',
 '20:15',
 '20:15',
 '20:15',
 '20:15',
 '10:45',
 '20:15',
 '11:30',
 '09:25',
 '17:55',
 '10:45',
 '13:20',
 '09:50',
 '09:50',
 '21:35',
 '19:05',
 '13:25',
 '05:30',
 '18:35',
 '09:50',
 '12:25',
 '12:00',
 '12:25',
 '12:00',
 '12:25',
 '16:05',
 '05:05']

In [12]:
arrivaltime=driver.find_elements_by_xpath('//p[@class="bold fs-15 mb-2 pr time"]')
arrivaltime
arrivaltime1=[]

for i in arrivaltime:
    arrivaltime1.append(i.text)
arrivaltime1

['20:10',
 '18:00',
 '23:30',
 '17:35',
 '10:25',
 '22:00',
 '15:20',
 '19:00',
 '02:20\n+ 1 day',
 '02:20\n+ 1 day',
 '09:50\n+ 1 day',
 '02:20\n+ 1 day',
 '21:25',
 '10:25',
 '08:35',
 '19:20',
 '23:00',
 '00:25\n+ 1 day',
 '08:10',
 '12:15',
 '20:40',
 '09:20',
 '09:35',
 '10:15',
 '12:10',
 '12:15',
 '14:00',
 '17:30',
 '18:15',
 '21:15',
 '23:45',
 '18:05',
 '20:35',
 '10:45',
 '10:40',
 '18:35',
 '15:00\n+ 1 day',
 '21:20',
 '14:05',
 '12:40',
 '20:30',
 '17:35',
 '13:40',
 '19:50',
 '16:20',
 '21:00\n+ 1 day',
 '10:15',
 '15:40',
 '19:55',
 '22:50',
 '09:00\n+ 1 day',
 '13:50\n+ 1 day',
 '15:15\n+ 1 day',
 '18:30\n+ 1 day',
 '12:40\n+ 1 day',
 '23:00\n+ 1 day',
 '16:45',
 '16:20',
 '17:10\n+ 1 day',
 '09:00\n+ 1 day',
 '16:50\n+ 1 day',
 '10:55\n+ 1 day',
 '20:50',
 '16:45\n+ 1 day',
 '16:45\n+ 1 day',
 '16:45\n+ 1 day',
 '16:30',
 '23:55',
 '19:45',
 '22:55',
 '23:55',
 '15:15\n+ 1 day',
 '16:15\n+ 1 day',
 '14:30',
 '16:30\n+ 1 day',
 '16:45']

In [14]:
place=driver.find_elements_by_xpath('//p[@class="fs-10 font-lightgrey no-wrap city ellipsis"]')
place
place1=[]

for i in place:
    place1.append(i.text)
place1

['Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi']

In [15]:
departureplace=[]
for i in range(0,len(place1),2):
    departureplace.append(place1[i])
departureplace

['Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai']

In [16]:
Arrivalplace=[]
for i in range(1,len(place1),2):
    Arrivalplace.append(place1[i])
Arrivalplace

['New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi']

In [17]:
timmings=driver.find_elements_by_xpath('//p[@class="fs-12 bold du mb-2"]')
timmings
timmings1=[]

for i in timmings:
    timmings1.append(i.text)
timmings1

['2h 10m',
 '2h 15m',
 '2h 15m',
 '3h 50m',
 '4h 20m',
 '4h 30m',
 '6h 25m',
 '7h 40m',
 '10h 00m',
 '11h 00m',
 '14h 35m',
 '14h 50m',
 '1h 50m',
 '1h 55m',
 '2h 05m',
 '2h 05m',
 '2h 05m',
 '2h 05m',
 '2h 10m',
 '2h 10m',
 '2h 10m',
 '2h 15m',
 '2h 15m',
 '2h 15m',
 '2h 15m',
 '2h 15m',
 '2h 15m',
 '2h 15m',
 '2h 15m',
 '2h 15m',
 '2h 15m',
 '2h 20m',
 '2h 25m',
 '3h 40m',
 '4h 45m',
 '4h 45m',
 '22h 50m',
 '6h 15m',
 '7h 30m',
 '2h 15m',
 '9h 20m',
 '8h 10m',
 '4h 15m',
 '14h 20m',
 '4h 10m',
 '26h 25m',
 '4h 40m',
 '4h 55m',
 '9h 10m',
 '12h 05m',
 '12h 45m',
 '17h 35m',
 '19h 00m',
 '22h 15m',
 '25h 55m',
 '26h 45m',
 '5h 15m',
 '6h 55m',
 '23h 15m',
 '22h 15m',
 '27h 30m',
 '25h 05m',
 '11h 00m',
 '19h 10m',
 '21h 40m',
 '27h 20m',
 '11h 00m',
 '5h 20m',
 '9h 55m',
 '10h 30m',
 '11h 55m',
 '26h 50m',
 '28h 15m',
 '2h 05m',
 '24h 25m',
 '11h 40m']

In [18]:
price=driver.find_elements_by_xpath('//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
price
price1=[]

for i in price:
    price1.append(i.text)
price1

['5,942',
 '5,942',
 '5,942',
 '5,942',
 '5,942',
 '5,942',
 '5,942',
 '5,942',
 '5,942',
 '5,942',
 '5,942',
 '5,942',
 '5,943',
 '5,943',
 '5,943',
 '5,943',
 '5,943',
 '5,943',
 '5,943',
 '5,943',
 '5,943',
 '5,943',
 '5,943',
 '5,943',
 '5,943',
 '5,943',
 '5,943',
 '5,943',
 '5,943',
 '5,943',
 '5,943',
 '5,943',
 '5,943',
 '5,943',
 '5,943',
 '5,943',
 '5,943',
 '6,431',
 '6,431',
 '6,678',
 '8,148',
 '8,384',
 '8,873',
 '8,988',
 '9,136',
 '9,356',
 '9,828',
 '9,828',
 '9,828',
 '9,828',
 '9,828',
 '9,828',
 '9,828',
 '9,828',
 '9,828',
 '9,828',
 '9,976',
 '9,976',
 '9,976',
 '10,248',
 '10,668',
 '10,733',
 '11,048',
 '11,298',
 '11,298',
 '11,298',
 '11,456',
 '11,508',
 '11,508',
 '11,508',
 '11,508',
 '11,508',
 '11,508',
 '12,768',
 '15,183',
 '20,328']

In [26]:
stoppage=driver.find_elements_by_xpath('//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]')
stoppage
stoppage1=[]

for i in stoppage:
    stoppage1.append(i.text)
stoppage1

['Non Stop',
 'Non Stop',
 'Non Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 'Non Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '2 Stop(s)',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '2 Stop(s)',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 'Non Stop',
 '1 Stop',
 '1 Stop']

In [22]:
dateSelect = "'2022-01-30'"

In [27]:
df=pd.DataFrame({})
df["Airline_Name"]=Company_name2
df["Departure Time"]=Departuretime1
df["Arrival time"]=arrivaltime1
df["Departure Place"]=departureplace
df["Arrival place"]=Arrivalplace
df["Timmings"]=timmings1
df["Price"]=price1
df["Stoppages"]=stoppage1
df['Date_of_Journey'] = dateSelect

In [28]:
df

,Airline_Name,Departure Time,Arrival time,Departure Place,Arrival place,Timmings,Price,Stoppages,Date_of_Journey
0,Go First,18:00,20:10,Mumbai,New Delhi,2h 10m,"5,942",Non Stop,'2022-01-30'
1,Go First,15:45,18:00,Mumbai,New Delhi,2h 15m,"5,942",Non Stop,'2022-01-30'
2,Go First,21:15,23:30,Mumbai,New Delhi,2h 15m,"5,942",Non Stop,'2022-01-30'
3,IndiGo,13:45,17:35,Mumbai,New Delhi,3h 50m,"5,942",1 Stop,'2022-01-30'
4,IndiGo,06:05,10:25,Mumbai,New Delhi,4h 20m,"5,942",1 Stop,'2022-01-30'
...,...,...,...,...,...,...,...,...,...
71,Vistara,12:25,15:15\n+ 1 day,Mumbai,New Delhi,26h 50m,"11,508",1 Stop,'2022-01-30'
72,Air India,12:00,16:15\n+ 1 day,Mumbai,New Delhi,28h 15m,"11,508",1 Stop,'2022-01-30'
73,Vistara,12:25,14:30,Mumbai,New Delhi,2h 05m,"12,768",Non Stop,'2022-01-30'
74,Vistara,16:05,16:30\n+ 1 day,Mumbai,New Delhi,24h 25m,"15,183",1 Stop,'2022-01-30'
75,Air India,05:05,16:45,Mumbai,New Delhi,11h 40m,"20,328",1 Stop,'2022-01-30'

# DELHI-MUMBAI 31-01-2022

In [29]:
driver=webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver_win32 (2)\chromedriver.exe")
url="https://flight.yatra.com/air-search-ui/dom2/trigger?type=O&viewName=normal&flexi=0&noOfSegments=1&origin=BOM&originCountry=IN&destination=DEL&destinationCountry=IN&flight_depart_date=31%2F01%2F2022&ADT=1&CHD=0&INF=0&class=Economy&source=fresco-home&unqvaldesktop=1353486663475"
driver.get(url)

In [32]:
for i in url:
    SCROLL_PAUSE_TIME = 1

    # Get scroll height
    """last_height = driver.execute_script("return document.body.scrollHeight")

    this dowsnt work due to floating web elements on youtube
    """

    last_height = driver.execute_script("return document.documentElement.scrollHeight")
    while True:
        # Scroll down to bottom
        driver.execute_script("window.scrollTo(0,document.documentElement.scrollHeight);")

        # Wait to load page
        time.sleep(SCROLL_PAUSE_TIME)

        # Calculate new scroll height and compare with last scroll height
        new_height = driver.execute_script("return document.documentElement.scrollHeight")
        if new_height == last_height:
                 break
        last_height = new_height
        
Company_name1=driver.find_elements_by_xpath('//span[@class="i-b text ellipsis"]')
Company_name1
Company_name2=[]

for i in Company_name1:
    Company_name2.append(i.text)
Company_name2


Departuretime=driver.find_elements_by_xpath('//div[@class="fs-15 bold time"]')
Departuretime
Departuretime1=[]

for i in Departuretime:
    Departuretime1.append(i.text)
Departuretime1


arrivaltime=driver.find_elements_by_xpath('//p[@class="bold fs-15 mb-2 pr time"]')
arrivaltime
arrivaltime1=[]

for i in arrivaltime:
    arrivaltime1.append(i.text)
arrivaltime1

place=driver.find_elements_by_xpath('//p[@class="fs-10 font-lightgrey no-wrap city ellipsis"]')
place
place1=[]

for i in place:
    place1.append(i.text)
place1

departureplace=[]
for i in range(0,len(place1),2):
    departureplace.append(place1[i])
departureplace

Arrivalplace=[]
for i in range(1,len(place1),2):
    Arrivalplace.append(place1[i])
Arrivalplace

timmings=driver.find_elements_by_xpath('//p[@class="fs-12 bold du mb-2"]')
timmings
timmings1=[]

for i in timmings:
    timmings1.append(i.text)
timmings1    

price=driver.find_elements_by_xpath('//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
price
price1=[]

for i in price:
    price1.append(i.text)
price1   

stoppage=driver.find_elements_by_xpath('//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]')
stoppage
stoppage1=[]

for i in stoppage:
    stoppage1.append(i.text)
stoppage1  

dateSelect = "'2022-01-31'"

df1=pd.DataFrame({})
df1["Airline_Name"]=Company_name2
df1["Departure Time"]=Departuretime1
df1["Arrival time"]=arrivaltime1
df1["Departure Place"]=departureplace
df1["Arrival place"]=Arrivalplace
df1["Timmings"]=timmings1
df1["Price"]=price1
df1["Stoppages"]=stoppage1
df1['Date_of_Journey'] = dateSelect

df1

,Airline_Name,Departure Time,Arrival time,Departure Place,Arrival place,Timmings,Price,Stoppages,Date_of_Journey
0,Go First,06:00,08:10,Mumbai,New Delhi,2h 10m,"5,942",Non Stop,'2022-01-31'
1,Go First,18:00,20:10,Mumbai,New Delhi,2h 10m,"5,942",Non Stop,'2022-01-31'
2,Go First,13:30,15:45,Mumbai,New Delhi,2h 15m,"5,942",Non Stop,'2022-01-31'
3,Go First,21:15,23:30,Mumbai,New Delhi,2h 15m,"5,942",Non Stop,'2022-01-31'
4,IndiGo,09:25,13:40,Mumbai,New Delhi,4h 15m,"5,942",1 Stop,'2022-01-31'
...,...,...,...,...,...,...,...,...,...
74,Air India,19:05,16:45\n+ 1 day,Mumbai,New Delhi,21h 40m,"11,298",1 Stop,'2022-01-31'
75,Air India,13:25,16:45\n+ 1 day,Mumbai,New Delhi,27h 20m,"11,298",1 Stop,'2022-01-31'
76,Go First,10:40,17:35,Mumbai,New Delhi,6h 55m,"11,299",1 Stop,'2022-01-31'
77,Air India,07:15,00:20\n+ 1 day,Mumbai,New Delhi,17h 05m,"11,888",1 Stop,'2022-01-31'
78,Air India,07:15,07:55\n+ 1 day,Mumbai,New Delhi,24h 40m,"11,888",1 Stop,'2022-01-31'

# DELHI-MUMBAI 01-02-2022

In [33]:
driver=webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver_win32 (2)\chromedriver.exe")
url1="https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=DEL&destinationCountry=IN&flexi=0&flight_depart_date=01%2F02%2F2022&hb=&noOfSegments=1&origin=BOM&originCountry=IN&type=O&unique=1643493594086&viewName=normal"
driver.get(url1)

In [34]:
for i in url:
    SCROLL_PAUSE_TIME = 1

    # Get scroll height
    """last_height = driver.execute_script("return document.body.scrollHeight")

    this dowsnt work due to floating web elements on youtube
    """

    last_height = driver.execute_script("return document.documentElement.scrollHeight")
    while True:
        # Scroll down to bottom
        driver.execute_script("window.scrollTo(0,document.documentElement.scrollHeight);")

        # Wait to load page
        time.sleep(SCROLL_PAUSE_TIME)

        # Calculate new scroll height and compare with last scroll height
        new_height = driver.execute_script("return document.documentElement.scrollHeight")
        if new_height == last_height:
                 break
        last_height = new_height
        
Company_name1=driver.find_elements_by_xpath('//span[@class="i-b text ellipsis"]')
Company_name1
Company_name2=[]

for i in Company_name1:
    Company_name2.append(i.text)
Company_name2


Departuretime=driver.find_elements_by_xpath('//div[@class="fs-15 bold time"]')
Departuretime
Departuretime1=[]

for i in Departuretime:
    Departuretime1.append(i.text)
Departuretime1


arrivaltime=driver.find_elements_by_xpath('//p[@class="bold fs-15 mb-2 pr time"]')
arrivaltime
arrivaltime1=[]

for i in arrivaltime:
    arrivaltime1.append(i.text)
arrivaltime1

place=driver.find_elements_by_xpath('//p[@class="fs-10 font-lightgrey no-wrap city ellipsis"]')
place
place1=[]

for i in place:
    place1.append(i.text)
place1

departureplace=[]
for i in range(0,len(place1),2):
    departureplace.append(place1[i])
departureplace

Arrivalplace=[]
for i in range(1,len(place1),2):
    Arrivalplace.append(place1[i])
Arrivalplace

timmings=driver.find_elements_by_xpath('//p[@class="fs-12 bold du mb-2"]')
timmings
timmings1=[]

for i in timmings:
    timmings1.append(i.text)
timmings1    

price=driver.find_elements_by_xpath('//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
price
price1=[]

for i in price:
    price1.append(i.text)
price1   

stoppage=driver.find_elements_by_xpath('//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]')
stoppage
stoppage1=[]

for i in stoppage:
    stoppage1.append(i.text)
stoppage1  

dateSelect = "'2022-02-01'"

df2=pd.DataFrame({})
df2["Airline_Name"]=Company_name2
df2["Departure Time"]=Departuretime1
df2["Arrival time"]=arrivaltime1
df2["Departure Place"]=departureplace
df2["Arrival place"]=Arrivalplace
df2["Timmings"]=timmings1
df2["Price"]=price1
df2["Stoppages"]=stoppage1
df2['Date_of_Journey'] = dateSelect

df2

,Airline_Name,Departure Time,Arrival time,Departure Place,Arrival place,Timmings,Price,Stoppages,Date_of_Journey
0,Go First,06:00,08:10,Mumbai,New Delhi,2h 10m,"5,942",Non Stop,'2022-02-01'
1,Go First,08:00,10:10,Mumbai,New Delhi,2h 10m,"5,942",Non Stop,'2022-02-01'
2,Go First,18:00,20:10,Mumbai,New Delhi,2h 10m,"5,942",Non Stop,'2022-02-01'
3,Go First,20:15,22:25,Mumbai,New Delhi,2h 10m,"5,942",Non Stop,'2022-02-01'
4,Go First,22:40,00:50\n+ 1 day,Mumbai,New Delhi,2h 10m,"5,942",Non Stop,'2022-02-01'
...,...,...,...,...,...,...,...,...,...
78,Air India,07:55,14:40,Mumbai,New Delhi,6h 45m,"12,379",1 Stop,'2022-02-01'
79,Air India,07:55,20:55,Mumbai,New Delhi,13h 00m,"12,379",1 Stop,'2022-02-01'
80,Air India,21:00,16:45\n+ 1 day,Mumbai,New Delhi,19h 45m,"18,753",1 Stop,'2022-02-01'
81,Air India,19:05,16:45\n+ 1 day,Mumbai,New Delhi,21h 40m,"18,753",1 Stop,'2022-02-01'
82,Air India,13:25,16:45\n+ 1 day,Mumbai,New Delhi,27h 20m,"18,753",1 Stop,'2022-02-01'

# DELHI-MUMBAI 07-02-2022

In [35]:
driver=webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver_win32 (2)\chromedriver.exe")
url1="https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=DEL&destinationCountry=IN&flexi=0&flight_depart_date=07%2F02%2F2022&hb=&noOfSegments=1&origin=BOM&originCountry=IN&type=O&unique=1643494050680&viewName=normal"
driver.get(url1)

In [36]:
for i in url:
    SCROLL_PAUSE_TIME = 1

    # Get scroll height
    """last_height = driver.execute_script("return document.body.scrollHeight")

    this dowsnt work due to floating web elements on youtube
    """

    last_height = driver.execute_script("return document.documentElement.scrollHeight")
    while True:
        # Scroll down to bottom
        driver.execute_script("window.scrollTo(0,document.documentElement.scrollHeight);")

        # Wait to load page
        time.sleep(SCROLL_PAUSE_TIME)

        # Calculate new scroll height and compare with last scroll height
        new_height = driver.execute_script("return document.documentElement.scrollHeight")
        if new_height == last_height:
                 break
        last_height = new_height
        
Company_name1=driver.find_elements_by_xpath('//span[@class="i-b text ellipsis"]')
Company_name1
Company_name2=[]

for i in Company_name1:
    Company_name2.append(i.text)
Company_name2


Departuretime=driver.find_elements_by_xpath('//div[@class="fs-15 bold time"]')
Departuretime
Departuretime1=[]

for i in Departuretime:
    Departuretime1.append(i.text)
Departuretime1


arrivaltime=driver.find_elements_by_xpath('//p[@class="bold fs-15 mb-2 pr time"]')
arrivaltime
arrivaltime1=[]

for i in arrivaltime:
    arrivaltime1.append(i.text)
arrivaltime1

place=driver.find_elements_by_xpath('//p[@class="fs-10 font-lightgrey no-wrap city ellipsis"]')
place
place1=[]

for i in place:
    place1.append(i.text)
place1

departureplace=[]
for i in range(0,len(place1),2):
    departureplace.append(place1[i])
departureplace

Arrivalplace=[]
for i in range(1,len(place1),2):
    Arrivalplace.append(place1[i])
Arrivalplace

timmings=driver.find_elements_by_xpath('//p[@class="fs-12 bold du mb-2"]')
timmings
timmings1=[]

for i in timmings:
    timmings1.append(i.text)
timmings1    

price=driver.find_elements_by_xpath('//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
price
price1=[]

for i in price:
    price1.append(i.text)
price1   

stoppage=driver.find_elements_by_xpath('//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]')
stoppage
stoppage1=[]

for i in stoppage:
    stoppage1.append(i.text)
stoppage1  

dateSelect = "'2022-02-07'"

df3=pd.DataFrame({})
df3["Airline_Name"]=Company_name2
df3["Departure Time"]=Departuretime1
df3["Arrival time"]=arrivaltime1
df3["Departure Place"]=departureplace
df3["Arrival place"]=Arrivalplace
df3["Timmings"]=timmings1
df3["Price"]=price1
df3["Stoppages"]=stoppage1
df3['Date_of_Journey'] = dateSelect

df3

,Airline_Name,Departure Time,Arrival time,Departure Place,Arrival place,Timmings,Price,Stoppages,Date_of_Journey
0,Go First,06:00,08:10,Mumbai,New Delhi,2h 10m,"5,942",Non Stop,'2022-02-07'
1,Go First,08:00,10:10,Mumbai,New Delhi,2h 10m,"5,942",Non Stop,'2022-02-07'
2,Go First,18:00,20:10,Mumbai,New Delhi,2h 10m,"5,942",Non Stop,'2022-02-07'
3,Go First,20:15,22:25,Mumbai,New Delhi,2h 10m,"5,942",Non Stop,'2022-02-07'
4,Go First,22:40,00:50\n+ 1 day,Mumbai,New Delhi,2h 10m,"5,942",Non Stop,'2022-02-07'
...,...,...,...,...,...,...,...,...,...
96,Air India,11:10,04:40\n+ 1 day,Mumbai,New Delhi,17h 30m,"11,403",1 Stop,'2022-02-07'
97,Air India,09:50,19:45,Mumbai,New Delhi,9h 55m,"11,508",2 Stop(s),'2022-02-07'
98,SpiceJet,05:55,10:40,Mumbai,New Delhi,4h 45m,"12,321",1 Stop,'2022-02-07'
99,Go First,10:40,17:55,Mumbai,New Delhi,7h 15m,"13,801",2 Stop(s),'2022-02-07'
100,Air India,18:35,23:55,Mumbai,New Delhi,5h 20m,"15,183",1 Stop,'2022-02-07'

# DELHI-MUMBAI 14-02-2022

In [37]:
driver=webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver_win32 (2)\chromedriver.exe")
url1="https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=DEL&destinationCountry=IN&flexi=0&flight_depart_date=14%2F02%2F2022&hb=0&noOfSegments=1&origin=BOM&originCountry=IN&type=O&unique=944527897181&version=1.1&viewName=normal"
driver.get(url1)

In [38]:
for i in url:
    SCROLL_PAUSE_TIME = 1

    # Get scroll height
    """last_height = driver.execute_script("return document.body.scrollHeight")

    this dowsnt work due to floating web elements on youtube
    """

    last_height = driver.execute_script("return document.documentElement.scrollHeight")
    while True:
        # Scroll down to bottom
        driver.execute_script("window.scrollTo(0,document.documentElement.scrollHeight);")

        # Wait to load page
        time.sleep(SCROLL_PAUSE_TIME)

        # Calculate new scroll height and compare with last scroll height
        new_height = driver.execute_script("return document.documentElement.scrollHeight")
        if new_height == last_height:
                 break
        last_height = new_height
        
Company_name1=driver.find_elements_by_xpath('//span[@class="i-b text ellipsis"]')
Company_name1
Company_name2=[]

for i in Company_name1:
    Company_name2.append(i.text)
Company_name2


Departuretime=driver.find_elements_by_xpath('//div[@class="fs-15 bold time"]')
Departuretime
Departuretime1=[]

for i in Departuretime:
    Departuretime1.append(i.text)
Departuretime1


arrivaltime=driver.find_elements_by_xpath('//p[@class="bold fs-15 mb-2 pr time"]')
arrivaltime
arrivaltime1=[]

for i in arrivaltime:
    arrivaltime1.append(i.text)
arrivaltime1

place=driver.find_elements_by_xpath('//p[@class="fs-10 font-lightgrey no-wrap city ellipsis"]')
place
place1=[]

for i in place:
    place1.append(i.text)
place1

departureplace=[]
for i in range(0,len(place1),2):
    departureplace.append(place1[i])
departureplace

Arrivalplace=[]
for i in range(1,len(place1),2):
    Arrivalplace.append(place1[i])
Arrivalplace

timmings=driver.find_elements_by_xpath('//p[@class="fs-12 bold du mb-2"]')
timmings
timmings1=[]

for i in timmings:
    timmings1.append(i.text)
timmings1    

price=driver.find_elements_by_xpath('//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
price
price1=[]

for i in price:
    price1.append(i.text)
price1   

stoppage=driver.find_elements_by_xpath('//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]')
stoppage
stoppage1=[]

for i in stoppage:
    stoppage1.append(i.text)
stoppage1  

dateSelect = "'2022-02-14'"

df4=pd.DataFrame({})
df4["Airline_Name"]=Company_name2
df4["Departure Time"]=Departuretime1
df4["Arrival time"]=arrivaltime1
df4["Departure Place"]=departureplace
df4["Arrival place"]=Arrivalplace
df4["Timmings"]=timmings1
df4["Price"]=price1
df4["Stoppages"]=stoppage1
df4['Date_of_Journey'] = dateSelect

df4

,Airline_Name,Departure Time,Arrival time,Departure Place,Arrival place,Timmings,Price,Stoppages,Date_of_Journey
0,Air Asia,20:10,03:20\n+ 1 day,Mumbai,New Delhi,7h 10m,"2,336",1 Stop,'2022-02-14'
1,Air Asia,08:15,16:15,Mumbai,New Delhi,8h 00m,"2,336",1 Stop,'2022-02-14'
2,Air Asia,08:15,20:00,Mumbai,New Delhi,11h 45m,"2,336",1 Stop,'2022-02-14'
3,IndiGo,19:35,21:25,Mumbai,New Delhi,1h 50m,"2,339",Non Stop,'2022-02-14'
4,IndiGo,08:30,10:25,Mumbai,New Delhi,1h 55m,"2,339",Non Stop,'2022-02-14'
...,...,...,...,...,...,...,...,...,...
125,Air India,06:10,12:55,Mumbai,New Delhi,6h 45m,"6,744",1 Stop,'2022-02-14'
126,Air India,06:10,18:00,Mumbai,New Delhi,11h 50m,"6,744",1 Stop,'2022-02-14'
127,Air India,07:15,00:20\n+ 1 day,Mumbai,New Delhi,17h 05m,"7,079",1 Stop,'2022-02-14'
128,Air India,07:15,07:55\n+ 1 day,Mumbai,New Delhi,24h 40m,"7,079",1 Stop,'2022-02-14'
129,Vistara,07:00,09:05,Mumbai,New Delhi,2h 05m,"7,833",Non Stop,'2022-02-14'

# DELHI-MUMBAI 21-02-2022

In [39]:
driver=webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver_win32 (2)\chromedriver.exe")
url1="https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=DEL&destinationCountry=IN&flexi=0&flight_depart_date=21%2F02%2F2022&hb=0&noOfSegments=1&origin=BOM&originCountry=IN&type=O&unique=795491737876&version=1.1&viewName=normal"
driver.get(url1)

In [40]:
for i in url:
    SCROLL_PAUSE_TIME = 1

    # Get scroll height
    """last_height = driver.execute_script("return document.body.scrollHeight")

    this dowsnt work due to floating web elements on youtube
    """

    last_height = driver.execute_script("return document.documentElement.scrollHeight")
    while True:
        # Scroll down to bottom
        driver.execute_script("window.scrollTo(0,document.documentElement.scrollHeight);")

        # Wait to load page
        time.sleep(SCROLL_PAUSE_TIME)

        # Calculate new scroll height and compare with last scroll height
        new_height = driver.execute_script("return document.documentElement.scrollHeight")
        if new_height == last_height:
                 break
        last_height = new_height
        
Company_name1=driver.find_elements_by_xpath('//span[@class="i-b text ellipsis"]')
Company_name1
Company_name2=[]

for i in Company_name1:
    Company_name2.append(i.text)
Company_name2


Departuretime=driver.find_elements_by_xpath('//div[@class="fs-15 bold time"]')
Departuretime
Departuretime1=[]

for i in Departuretime:
    Departuretime1.append(i.text)
Departuretime1


arrivaltime=driver.find_elements_by_xpath('//p[@class="bold fs-15 mb-2 pr time"]')
arrivaltime
arrivaltime1=[]

for i in arrivaltime:
    arrivaltime1.append(i.text)
arrivaltime1

place=driver.find_elements_by_xpath('//p[@class="fs-10 font-lightgrey no-wrap city ellipsis"]')
place
place1=[]

for i in place:
    place1.append(i.text)
place1

departureplace=[]
for i in range(0,len(place1),2):
    departureplace.append(place1[i])
departureplace

Arrivalplace=[]
for i in range(1,len(place1),2):
    Arrivalplace.append(place1[i])
Arrivalplace

timmings=driver.find_elements_by_xpath('//p[@class="fs-12 bold du mb-2"]')
timmings
timmings1=[]

for i in timmings:
    timmings1.append(i.text)
timmings1    

price=driver.find_elements_by_xpath('//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
price
price1=[]

for i in price:
    price1.append(i.text)
price1   

stoppage=driver.find_elements_by_xpath('//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]')
stoppage
stoppage1=[]

for i in stoppage:
    stoppage1.append(i.text)
stoppage1  

dateSelect = "'2022-02-21'"

df5=pd.DataFrame({})
df5["Airline_Name"]=Company_name2
df5["Departure Time"]=Departuretime1
df5["Arrival time"]=arrivaltime1
df5["Departure Place"]=departureplace
df5["Arrival place"]=Arrivalplace
df5["Timmings"]=timmings1
df5["Price"]=price1
df5["Stoppages"]=stoppage1
df5['Date_of_Journey'] = dateSelect

df5

,Airline_Name,Departure Time,Arrival time,Departure Place,Arrival place,Timmings,Price,Stoppages,Date_of_Journey
0,Air Asia,21:20,03:20\n+ 1 day,Mumbai,New Delhi,6h 00m,"2,336",1 Stop,'2022-02-21'
1,Air Asia,20:10,03:20\n+ 1 day,Mumbai,New Delhi,7h 10m,"2,336",1 Stop,'2022-02-21'
2,Air Asia,08:15,16:15,Mumbai,New Delhi,8h 00m,"2,336",1 Stop,'2022-02-21'
3,Air Asia,08:15,20:00,Mumbai,New Delhi,11h 45m,"2,336",1 Stop,'2022-02-21'
4,IndiGo,19:35,21:25,Mumbai,New Delhi,1h 50m,"2,339",Non Stop,'2022-02-21'
...,...,...,...,...,...,...,...,...,...
146,Go First,13:05,20:30,Mumbai,New Delhi,7h 25m,"5,942",2 Stop(s),'2022-02-21'
147,Go First,17:45,23:15,Mumbai,New Delhi,5h 30m,"5,984",1 Stop,'2022-02-21'
148,Go First,08:30,16:10,Mumbai,New Delhi,7h 40m,"5,984",1 Stop,'2022-02-21'
149,IndiGo,09:00,16:50,Mumbai,New Delhi,7h 50m,"6,277",1 Stop,'2022-02-21'
150,Go First,15:20,20:20,Mumbai,New Delhi,5h 00m,"7,931",1 Stop,'2022-02-21'

In [41]:
# append method
df6= df.append([df1,df2,df3,df4,df5])
df6

,Airline_Name,Departure Time,Arrival time,Departure Place,Arrival place,Timmings,Price,Stoppages,Date_of_Journey
0,Go First,18:00,20:10,Mumbai,New Delhi,2h 10m,"5,942",Non Stop,'2022-01-30'
1,Go First,15:45,18:00,Mumbai,New Delhi,2h 15m,"5,942",Non Stop,'2022-01-30'
2,Go First,21:15,23:30,Mumbai,New Delhi,2h 15m,"5,942",Non Stop,'2022-01-30'
3,IndiGo,13:45,17:35,Mumbai,New Delhi,3h 50m,"5,942",1 Stop,'2022-01-30'
4,IndiGo,06:05,10:25,Mumbai,New Delhi,4h 20m,"5,942",1 Stop,'2022-01-30'
...,...,...,...,...,...,...,...,...,...
146,Go First,13:05,20:30,Mumbai,New Delhi,7h 25m,"5,942",2 Stop(s),'2022-02-21'
147,Go First,17:45,23:15,Mumbai,New Delhi,5h 30m,"5,984",1 Stop,'2022-02-21'
148,Go First,08:30,16:10,Mumbai,New Delhi,7h 40m,"5,984",1 Stop,'2022-02-21'
149,IndiGo,09:00,16:50,Mumbai,New Delhi,7h 50m,"6,277",1 Stop,'2022-02-21'
150,Go First,15:20,20:20,Mumbai,New Delhi,5h 00m,"7,931",1 Stop,'2022-02-21'

In [42]:
file_name='MUMBAI-DELHI.xlsx'
df6.to_excel(file_name)
print('DataFrame is written to Excel File successfully')

DataFrame is written to Excel File successfully